In [124]:
## Import the libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.express as px
%matplotlib inline

In [125]:
df = pd.read_csv('C:/Users/raviv/OneDrive/Desktop/Travel.csv')

In [126]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [127]:
df.shape

(4888, 20)

In [128]:
df.columns

Index(['CustomerID', 'ProdTaken', 'Age', 'TypeofContact', 'CityTier',
       'DurationOfPitch', 'Occupation', 'Gender', 'NumberOfPersonVisiting',
       'NumberOfFollowups', 'ProductPitched', 'PreferredPropertyStar',
       'MaritalStatus', 'NumberOfTrips', 'Passport', 'PitchSatisfactionScore',
       'OwnCar', 'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome'],
      dtype='object')

In [129]:
## Data Cleaning
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [130]:
df['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [131]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [132]:
df['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [133]:
df['Gender'] = df['Gender'].replace('Fe Male', 'Female')

In [134]:
df['MaritalStatus'] = df['MaritalStatus'].replace('Single', 'Unmarried')

In [135]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [136]:
 df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Unmarried    1598
Divorced      950
Name: count, dtype: int64

In [137]:
df['Gender'].value_counts()

Gender
Male      2916
Female    1972
Name: count, dtype: int64

In [138]:
## Check missing values
features_with_na = [features for features in df.columns if df[features].isnull().sum() >=1]
for feature in feature_with_na:
    print(feature, np.round(df[feature].isnull().mean() *100,5), '% missing values')

Age 4.62357 % missing values
TypeofContact 0.51146 % missing values
DurationOfPitch 5.13502 % missing values
NumberOfFollowups 0.92062 % missing values
PreferredPropertyStar 0.53191 % missing values
NumberOfTrips 2.86416 % missing values
NumberOfChildrenVisiting 1.35025 % missing values
MonthlyIncome 4.76678 % missing values

In [139]:
## Numerical columns distribution
df[features_with_na].select_dtypes(exclude='O').describe()

,Age,DurationOfPitch,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome
count,4662.000000,4637.000000,4843.000000,4862.000000,4748.000000,4822.000000,4655.000000
mean,37.622265,15.490835,3.708445,3.581037,3.236521,1.187267,23619.853491
std,9.316387,8.519643,1.002509,0.798009,1.849019,0.857861,5380.698361
min,18.000000,5.000000,1.000000,3.000000,1.000000,0.000000,1000.000000
25%,31.000000,9.000000,3.000000,3.000000,2.000000,1.000000,20346.000000
50%,36.000000,13.000000,4.000000,3.000000,3.000000,1.000000,22347.000000
75%,44.000000,20.000000,4.000000,4.000000,4.000000,2.000000,25571.000000
max,61.000000,127.000000,6.000000,5.000000,22.000000,3.000000,98678.000000

## Impute Null Values

In [141]:
##df.Age.fillna(df.Age.median(),inplace=True)
median_Age = df['Age'].median()
df['Age'].fillna(median_Age,inplace=True)

C:\Users\raviv\AppData\Local\Temp\ipykernel_49228\607893290.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(median_Age,inplace=True)

In [142]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [143]:
df.Age.value_counts()

Age
36.0    457
35.0    237
34.0    211
31.0    203
30.0    199
32.0    197
33.0    189
37.0    185
29.0    178
38.0    176
41.0    155
39.0    150
28.0    147
40.0    146
42.0    142
27.0    138
43.0    130
46.0    121
45.0    116
26.0    106
44.0    105
51.0     90
47.0     88
50.0     86
25.0     74
52.0     68
53.0     66
49.0     65
48.0     65
55.0     64
54.0     61
56.0     58
24.0     56
23.0     46
22.0     46
59.0     44
21.0     41
20.0     38
19.0     32
58.0     31
57.0     29
60.0     29
18.0     14
61.0      9
Name: count, dtype: int64

In [144]:
df.Age.median()

36.0

In [145]:
df['Age'].isnull().sum()

np.int64(0)

In [87]:
df.TypeofContact.mode()[0]

'Self Enquiry'

In [88]:
df.TypeofContact.fillna(df.TypeofContact.mode()[0],inplace=True)

C:\Users\raviv\AppData\Local\Temp\ipykernel_49228\1432991057.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.TypeofContact.fillna(df.TypeofContact.mode()[0],inplace=True)

In [89]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [90]:
df.TypeofContact.isnull().sum()

np.int64(0)

In [91]:
df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace=True)

C:\Users\raviv\AppData\Local\Temp\ipykernel_49228\4262229188.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace=True)

In [92]:
df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0],inplace=True)
df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0],inplace=True)
df.NumberOfTrips.fillna(df.NumberOfTrips.median(),inplace=True)
df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0],inplace=True)
df.MonthlyIncome.fillna(df.MonthlyIncome.median(), inplace=True)

C:\Users\raviv\AppData\Local\Temp\ipykernel_49228\1515653900.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0],inplace=True)
C:\Users\raviv\AppData\Local\Temp\ipykernel_49228\1515653900.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0],inplace=True)
C:\Users\raviv\AppData\Local\Temp\ipykernel_49228\1515653900.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfTrips.fillna(df.NumberOfTrips.median(),inplace=True)
C:\Users\raviv\AppData\Local\Temp\ipykernel_49228\1515653900.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0],inplace=True)
C:\Users\raviv\AppData\Local\Temp\ipykernel_49228\1515653900.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.MonthlyIncome.fillna(df.MonthlyIncome.median(), inplace=True)

In [93]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [94]:
df.columns.isnull().sum()

np.int64(0)

In [95]:
df.drop('CustomerID', axis=1,inplace=True)

In [96]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [97]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [98]:
df.isnull().sum()

ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

## Feature Engineering

In [99]:
## Create a new column
df['TotalVisiting']=df['NumberOfChildrenVisiting']+df['NumberOfPersonVisiting']

In [100]:
df.drop(columns=['NumberOfChildrenVisiting','NumberOfPersonVisiting'],axis=1,inplace=True)

In [101]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

In [102]:
## Get all the numeric features
num_features = [features for features in df.columns if df[features].dtype != 'O']
print("Number of Numerical features : ", len(num_features))

Number of Numerical features :  12

In [103]:
## Get all the categorical features
cat_features = [features for features in df.columns if df[features].dtype == 'O']
print("Number of Categorical features : ", len(cat_features))

Number of Categorical features :  6

In [104]:
## Discrete features
discrete_features = [feature for feature in num_features if len(df[feature].unique()) <=25]
print("Number of Discrete features : ", len(discrete_features))

Number of Discrete features :  9

In [105]:
## Continuous features
continuous_features = [feature for feature in num_features if feature not in discrete_features]
print("Number of Continuous features : ", len(continuous_features))

Number of Continuous features :  3

In [106]:
## Seperate dataset to train and test
X = df.drop(['ProdTaken'], axis=1)
y = df['ProdTaken']

In [107]:
X

,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,49.0,Self Enquiry,3,9.0,Small Business,Male,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,Manager,26576.0,4.0
4884,28.0,Company Invited,1,31.0,Salaried,Male,5.0,Basic,3.0,Unmarried,3.0,1,3,1,Executive,21212.0,6.0
4885,52.0,Self Enquiry,3,17.0,Salaried,Female,4.0,Standard,4.0,Married,7.0,0,1,1,Senior Manager,31820.0,7.0
4886,19.0,Self Enquiry,3,16.0,Small Business,Male,4.0,Basic,3.0,Unmarried,3.0,0,5,0,Executive,20289.0,5.0
4887,36.0,Self Enquiry,1,14.0,Salaried,Male,4.0,Basic,4.0,Unmarried,3.0,1,3,1,Executive,24041.0,6.0

In [108]:
y

0       1
1       0
2       1
3       0
4       0
       ..
4883    1
4884    1
4885    1
4886    1
4887    1
Name: ProdTaken, Length: 4888, dtype: int64

In [109]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [110]:
X_train.shape,X_test.shape

((3910, 17), (978, 17))

In [111]:
y.value_counts()

ProdTaken
0    3968
1     920
Name: count, dtype: int64

In [112]:
## Create a column transformers with 3 types of transformers
num_features = X.select_dtypes(exclude="O").columns
cat_features = X.select_dtypes(include="O").columns

In [118]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [120]:
numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

In [121]:
preprocessor = ColumnTransformer(
    [("OneHotEncoder", oh_transformer,cat_features),
     ("StandardScaler", numeric_transformer,num_features)    
])

In [122]:
preprocessor

ColumnTransformer(transformers=[('OneHotEncoder', OneHotEncoder(drop='first'),
                                 Index(['TypeofContact', 'Occupation', 'Gender', 'ProductPitched',
       'MaritalStatus', 'Designation'],
      dtype='object')),
                                ('StandardScaler', StandardScaler(),
                                 Index(['Age', 'CityTier', 'DurationOfPitch', 'NumberOfFollowups',
       'PreferredPropertyStar', 'NumberOfTrips', 'Passport',
       'PitchSatisfactionScore', 'OwnCar', 'MonthlyIncome', 'TotalVisiting'],
      dtype='object'))])

In [123]:
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)

TypeError: Encoders require their input argument must be uniformly strings or numbers. Got ['float', 'str']

## AdaBoost ML lAlgorithm

In [1]:
## Import the libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.express as px
%matplotlib inline

In [2]:
df = pd.read_csv('C:/Users/raviv/OneDrive/Desktop/Travel.csv')

In [3]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [4]:
df.shape

(4888, 20)

In [5]:
df.columns

Index(['CustomerID', 'ProdTaken', 'Age', 'TypeofContact', 'CityTier',
       'DurationOfPitch', 'Occupation', 'Gender', 'NumberOfPersonVisiting',
       'NumberOfFollowups', 'ProductPitched', 'PreferredPropertyStar',
       'MaritalStatus', 'NumberOfTrips', 'Passport', 'PitchSatisfactionScore',
       'OwnCar', 'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome'],
      dtype='object')

In [6]:
## Data Cleaning
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [7]:
df['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [8]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [9]:
df['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [10]:
df['Gender'] = df['Gender'].replace('Fe Male', 'Female')

In [11]:
df['MaritalStatus'] = df['MaritalStatus'].replace('Single','Unmarried')

In [12]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [13]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Unmarried    1598
Divorced      950
Name: count, dtype: int64

In [14]:
## Check Missing Values
features_with_na = [features for features in df.columns if df[features].isnull().sum() >= 1]
for feature in features_with_na:
    print(feature, np.round(df[feature].isnull().mean() * 100,5), '% missing values')

Age 4.62357 % missing values
TypeofContact 0.51146 % missing values
DurationOfPitch 5.13502 % missing values
NumberOfFollowups 0.92062 % missing values
PreferredPropertyStar 0.53191 % missing values
NumberOfTrips 2.86416 % missing values
NumberOfChildrenVisiting 1.35025 % missing values
MonthlyIncome 4.76678 % missing values

In [15]:
## Numerical columns description
df[features_with_na].select_dtypes(exclude='O').describe()

,Age,DurationOfPitch,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome
count,4662.000000,4637.000000,4843.000000,4862.000000,4748.000000,4822.000000,4655.000000
mean,37.622265,15.490835,3.708445,3.581037,3.236521,1.187267,23619.853491
std,9.316387,8.519643,1.002509,0.798009,1.849019,0.857861,5380.698361
min,18.000000,5.000000,1.000000,3.000000,1.000000,0.000000,1000.000000
25%,31.000000,9.000000,3.000000,3.000000,2.000000,1.000000,20346.000000
50%,36.000000,13.000000,4.000000,3.000000,3.000000,1.000000,22347.000000
75%,44.000000,20.000000,4.000000,4.000000,4.000000,2.000000,25571.000000
max,61.000000,127.000000,6.000000,5.000000,22.000000,3.000000,98678.000000

In [16]:
## Numerical columns description
df[features_with_na].select_dtypes(exclude='object').describe()

,Age,DurationOfPitch,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome
count,4662.000000,4637.000000,4843.000000,4862.000000,4748.000000,4822.000000,4655.000000
mean,37.622265,15.490835,3.708445,3.581037,3.236521,1.187267,23619.853491
std,9.316387,8.519643,1.002509,0.798009,1.849019,0.857861,5380.698361
min,18.000000,5.000000,1.000000,3.000000,1.000000,0.000000,1000.000000
25%,31.000000,9.000000,3.000000,3.000000,2.000000,1.000000,20346.000000
50%,36.000000,13.000000,4.000000,3.000000,3.000000,1.000000,22347.000000
75%,44.000000,20.000000,4.000000,4.000000,4.000000,2.000000,25571.000000
max,61.000000,127.000000,6.000000,5.000000,22.000000,3.000000,98678.000000

## Imputing Null Values

In [17]:
df.Age.fillna(df.Age.median(),inplace=True)

C:\Users\raviv\AppData\Local\Temp\ipykernel_15532\1634043521.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Age.fillna(df.Age.median(),inplace=True)

In [18]:
df.TypeofContact.fillna(df.TypeofContact.mode()[0],inplace=True)

C:\Users\raviv\AppData\Local\Temp\ipykernel_15532\1432991057.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.TypeofContact.fillna(df.TypeofContact.mode()[0],inplace=True)

In [19]:
df.columns

Index(['CustomerID', 'ProdTaken', 'Age', 'TypeofContact', 'CityTier',
       'DurationOfPitch', 'Occupation', 'Gender', 'NumberOfPersonVisiting',
       'NumberOfFollowups', 'ProductPitched', 'PreferredPropertyStar',
       'MaritalStatus', 'NumberOfTrips', 'Passport', 'PitchSatisfactionScore',
       'OwnCar', 'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome'],
      dtype='object')

In [20]:
df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace=True)

C:\Users\raviv\AppData\Local\Temp\ipykernel_15532\4262229188.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace=True)

In [21]:
df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0],inplace=True)

C:\Users\raviv\AppData\Local\Temp\ipykernel_15532\919053487.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0],inplace=True)

In [22]:
df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0],inplace=True)

C:\Users\raviv\AppData\Local\Temp\ipykernel_15532\4190702963.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0],inplace=True)

In [23]:
df.NumberOfTrips.fillna(df.NumberOfTrips.median(),inplace=True)

C:\Users\raviv\AppData\Local\Temp\ipykernel_15532\4169427265.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfTrips.fillna(df.NumberOfTrips.median(),inplace=True)

In [24]:
df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0],inplace=True)

C:\Users\raviv\AppData\Local\Temp\ipykernel_15532\3127042307.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0],inplace=True)

In [25]:
df.MonthlyIncome.fillna(df.MonthlyIncome.median(), inplace=True)

C:\Users\raviv\AppData\Local\Temp\ipykernel_15532\2741754935.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.MonthlyIncome.fillna(df.MonthlyIncome.median(), inplace=True)

In [26]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [28]:
df.drop(['CustomerID'],axis=1,inplace=True)

In [29]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [30]:
df.isnull().sum()

ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

## Feature Engineering

In [31]:
## Create a new column
df['TotalVisiting'] = df['NumberOfPersonVisiting'] + df['NumberOfChildrenVisiting']
df.drop(columns = ['NumberOfPersonVisiting', 'NumberOfChildrenVisiting'], axis=1,inplace=True)

In [32]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

In [33]:
## get all the numeric features
num_features = [features for features in df.columns if df[features].dtype != 'object']
print("Number of Numerical features:", len(num_features))

Number of Numerical features: 12

In [34]:
## get all the numeric features
num_features = [feature for feature in df.columns if df[feature].dtype != 'object']
print("Number of Numerical features:", len(num_features))

Number of Numerical features: 12

In [35]:
## get all the categorical features
cat_features = [feature for feature in df.columns if df[feature].dtype == 'object']
print("Number of Categorical features:", len(cat_features))

Number of Categorical features: 6

In [36]:
## Discrete features
discrete_features = [feature for feature in num_features if len(df[feature].unique()) <=25]
print("Number of discrete features: ", len(discrete_features))

Number of discrete features:  9

In [37]:
## Continuous features
continuous_features = [feature for feature in num_features if feature not in discrete_features]
print("Number of continuous features:", len(continuous_features))

Number of continuous features: 3

In [38]:
## Train, test split and model traning
from sklearn.model_selection import train_test_split
X = df.drop(['ProdTaken'],axis=1)
y = df['ProdTaken']

In [39]:
X.head()

,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

In [40]:
y

0       1
1       0
2       1
3       0
4       0
       ..
4883    1
4884    1
4885    1
4886    1
4887    1
Name: ProdTaken, Length: 4888, dtype: int64

In [41]:
## Seperate dataset to train and test sets.
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [42]:
X_train.shape,X_test.shape

((3910, 17), (978, 17))

In [43]:
y.value_counts()

ProdTaken
0    3968
1     920
Name: count, dtype: int64

In [44]:
## Create a column transformer with 3 types of transformers.

cat_features = X.select_dtypes(include='object').columns

num_features = X.select_dtypes(exclude='object').columns

In [45]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [46]:
numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

In [47]:
preprocessor = ColumnTransformer(
    [('OneHotEncoder', oh_transformer, cat_features),
    ('StandaraScaler', numeric_transformer, num_features)
    ]
)

In [48]:
preprocessor

ColumnTransformer(transformers=[('OneHotEncoder', OneHotEncoder(drop='first'),
                                 Index(['TypeofContact', 'Occupation', 'Gender', 'ProductPitched',
       'MaritalStatus', 'Designation'],
      dtype='object')),
                                ('StandaraScaler', StandardScaler(),
                                 Index(['Age', 'CityTier', 'DurationOfPitch', 'NumberOfFollowups',
       'PreferredPropertyStar', 'NumberOfTrips', 'Passport',
       'PitchSatisfactionScore', 'OwnCar', 'MonthlyIncome', 'TotalVisiting'],
      dtype='object'))])

In [49]:
X_train = preprocessor.fit_transform(X_train)

In [50]:
X_test = preprocessor.transform(X_test)

In [53]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,precision_score,recall_score,f1_score,roc_auc_score,roc_curve

In [60]:
models = {
    "Logistic Regression":LogisticRegression(),
    "Decision Tree":DecisionTreeClassifier(),
    "Adaboost Classifier":AdaBoostClassifier(),
    "Random Forest" : RandomForestClassifier(),
    "Gradient Boost":GradientBoostingClassifier()

}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    ## Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    ## Training set performance
    model_train_accuracy = accuracy_score(y_train, y_train_pred)
    model_train_f1 =  f1_score(y_train,y_train_pred,average='weighted')
    model_train_precision = precision_score(y_train,y_train_pred)
    model_train_recall = recall_score(y_train,y_train_pred)
    model_train_roc_auc_score = roc_auc_score(y_train,y_train_pred)

    ## Test set performance

    model_test_accuracy = accuracy_score(y_test, y_test_pred)
    model_test_f1 = f1_score(y_test,y_test_pred,average='weighted')
    model_test_precision = precision_score(y_test,y_test_pred)
    model_test_recall = recall_score(y_test,y_test_pred)
    model_test_roc_auc_score = roc_auc_score(y_test,y_test_pred)

    print(list(models.keys())[i])
    
    print("Model performance for training set")
    print("Accuracy: {:.4f}".format(model_train_accuracy))
    print("f1 score: {:.4f}".format(model_train_f1))
    print("precision score: {:.4f}".format(model_train_precision))
    print("recall score: {:.4f}".format(model_train_recall))
    print("roc auc score: {:.4f}".format(model_train_roc_auc_score))
    
    print('-------------------------------------------------------')

    print("Model performance for test set")
    print("Accuracy : {:.4f}".format(model_test_accuracy))
    print("f1 score: {:.4f}".format(model_test_f1))
    print("precision score: {:.4f}".format(model_test_precision))
    print("recall score: {:.4f}".format(model_test_recall))
    print("roc auc score: {:.4f}".format(model_test_roc_auc_score))

    print('='*35)
    print('\n')

Logistic Regression
Model performance for training set
Accuracy: 0.8450
f1 score: 0.8198
precision score: 0.7043
recall score: 0.3122
roc auc score: 0.6408
-------------------------------------------------------
Model performance for test set
Accuracy : 0.8395
f1 score: 0.8054
precision score: 0.6885
recall score: 0.2333
roc auc score: 0.6048
===================================


Decision Tree
Model performance for training set
Accuracy: 1.0000
f1 score: 1.0000
precision score: 1.0000
recall score: 1.0000
roc auc score: 1.0000
-------------------------------------------------------
Model performance for test set
Accuracy : 0.9315
f1 score: 0.9310
precision score: 0.8266
recall score: 0.7944
roc auc score: 0.8784
===================================


Adaboost Classifier
Model performance for training set
Accuracy: 0.8481
f1 score: 0.8164
precision score: 0.7874
recall score: 0.2703
roc auc score: 0.6266
-------------------------------------------------------
Model performance for test set
Accuracy : 0.8425
f1 score: 0.8040
precision score: 0.7600
recall score: 0.2111
roc auc score: 0.5980
===================================


Random Forest
Model performance for training set
Accuracy: 1.0000
f1 score: 1.0000
precision score: 1.0000
recall score: 1.0000
roc auc score: 1.0000
-------------------------------------------------------
Model performance for test set
Accuracy : 0.9233
f1 score: 0.9166
precision score: 0.9487
recall score: 0.6167
roc auc score: 0.8046
===================================


Gradient Boost
Model performance for training set
Accuracy: 0.8887
f1 score: 0.8764
precision score: 0.8571
recall score: 0.4946
roc auc score: 0.7377
-------------------------------------------------------
Model performance for test set
Accuracy : 0.8671
f1 score: 0.8441
precision score: 0.8289
recall score: 0.3500
roc auc score: 0.6669
===================================

In [61]:
## Hyperparameter training
rf_params = {"max_depth":[5,8,15,None,10],
             "max_features":[5,7,"auto",8],
             "min_samples_split":[2,8,15,20],
             "n_estimators":[100,200,500,1000]
            }
adaboost_params = {
            "n_estimators":[50,60,70,80,90],
            "algorithm":['SAMME','SAMME.R']
    
}

In [62]:
rf_params

{'max_depth': [5, 8, 15, None, 10],
 'max_features': [5, 7, 'auto', 8],
 'min_samples_split': [2, 8, 15, 20],
 'n_estimators': [100, 200, 500, 1000]}

In [63]:
adaboost_params

{'n_estimators': [50, 60, 70, 80, 90], 'algorithm': ['SAMME', 'SAMME.R']}

In [64]:
## Models list for hyperparameter tuning
randomcv_models = [
            ("RF", RandomForestClassifier(), rf_params),
            ("AB",AdaBoostClassifier(), adaboost_params)
    
]

In [65]:
randomcv_models

[('RF',
  RandomForestClassifier(),
  {'max_depth': [5, 8, 15, None, 10],
   'max_features': [5, 7, 'auto', 8],
   'min_samples_split': [2, 8, 15, 20],
   'n_estimators': [100, 200, 500, 1000]}),
 ('AB',
  AdaBoostClassifier(),
  {'n_estimators': [50, 60, 70, 80, 90], 'algorithm': ['SAMME', 'SAMME.R']})]

In [66]:
from sklearn.model_selection import RandomizedSearchCV
model_param = {}
for name,model,params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,param_distributions=params,n_iter=100,cv=3,verbose=2,n_jobs=-1)
    random.fit(X_train,y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"----------------------Best params for {model_name}--------------------------------------")
    print(model_param[model_name])

Fitting 3 folds for each of 100 candidates, totalling 300 fits

C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
81 fits failed out of a total of 300.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
42 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
39 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan 0.85805723
 0.83401585 0.86675255 0.85984718 0.86291565 0.8621476  0.88670043
 0.84271215 0.850641   0.89181663 0.87519108 0.86905415        nan
        nan 0.86291643 0.85729036 0.86905415 0.84322399 0.8555006
        nan 0.90818557 0.84194509 0.88158579 0.85805644 0.85703395
 0.85524399 0.87340171 0.8913046  0.86700837 0.84220071 0.86112569
 0.84450289        nan 0.86572967 0.83248093 0.86572869        nan
 0.89181761 0.88388935 0.86112589 0.8555006         nan 0.88209822
 0.86649634 0.85831324 0.88925882 0.85856789 0.87902759        nan
 0.86163655 0.83324917        nan 0.87058907 0.86598666 0.84501394
        nan 0.88107455        nan        nan 0.9120215  0.89130381
 0.86087125 0.86726361 0.86956481        nan        nan 0.85805762
        nan 0.86266101 0.86828708 0.85831344 0.84168946 0.86291683
 0.9120211  0.84347883 0.86828787 0.86982102 0.86700818        nan
 0.89028132 0.86317127 0.86035902        nan 0.86598549 0.85319783
 0.85089702        nan        nan        nan 0.87033364 0.88951386
        nan 0.87237883        nan        nan]
  warnings.warn(
C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_search.py:317: UserWarning: The total space of parameters 10 is smaller than n_iter=100. Running 10 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Fitting 3 folds for each of 10 candidates, totalling 30 fits

C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
15 fits failed out of a total of 30.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'algorithm' parameter of AdaBoostClassifier must be a str among {'SAMME'}. Got 'SAMME.R' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [0.83938591 0.84578101 0.84603683 0.84552519 0.84731554        nan
        nan        nan        nan        nan]
  warnings.warn(
C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\ensemble\_weight_boosting.py:519: FutureWarning: The parameter 'algorithm' is deprecated in 1.6 and has no effect. It will be removed in version 1.8.
  warnings.warn(

----------------------Best params for RF--------------------------------------
{'n_estimators': 100, 'min_samples_split': 2, 'max_features': 8, 'max_depth': None}
----------------------Best params for AB--------------------------------------
{'n_estimators': 90, 'algorithm': 'SAMME'}

In [68]:
models = {
    
    "Random Forest" : RandomForestClassifier(n_estimators= 100, min_samples_split = 2, max_features = 8, max_depth = None),
    "AdaBoost Classifier" : AdaBoostClassifier(n_estimators = 90, algorithm = 'SAMME')

}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    ## Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

## Training set performance
    model_train_accuracy = accuracy_score(y_train, y_train_pred)
    model_train_f1 =  f1_score(y_train,y_train_pred,average='weighted')
    model_train_precision = precision_score(y_train,y_train_pred)
    model_train_recall = recall_score(y_train,y_train_pred)
    model_train_roc_auc_score = roc_auc_score(y_train,y_train_pred)

    ## Test set performance

    model_test_accuracy = accuracy_score(y_test, y_test_pred)
    model_test_f1 = f1_score(y_test,y_test_pred,average='weighted')
    model_test_precision = precision_score(y_test,y_test_pred)
    model_test_recall = recall_score(y_test,y_test_pred)
    model_test_roc_auc_score = roc_auc_score(y_test,y_test_pred)

    print(list(models.keys())[i])
    
    print("Model performance for training set")
    print("Accuracy: {:.4f}".format(model_train_accuracy))
    print("f1 score: {:.4f}".format(model_train_f1))
    print("precision score: {:.4f}".format(model_train_precision))
    print("recall score: {:.4f}".format(model_train_recall))
    print("roc auc score: {:.4f}".format(model_train_roc_auc_score))
    
    print('-------------------------------------------------------')

    print("Model performance for test set")
    print("Accuracy : {:.4f}".format(model_test_accuracy))
    print("f1 score: {:.4f}".format(model_test_f1))
    print("precision score: {:.4f}".format(model_test_precision))
    print("recall score: {:.4f}".format(model_test_recall))
    print("roc auc score: {:.4f}".format(model_test_roc_auc_score))

    print('='*35)
    print('\n')

Random Forest
Model performance for training set
Accuracy: 1.0000
f1 score: 1.0000
precision score: 1.0000
recall score: 1.0000
roc auc score: 1.0000
-------------------------------------------------------
Model performance for test set
Accuracy : 0.9294
f1 score: 0.9245
precision score: 0.9370
recall score: 0.6611
roc auc score: 0.8255
===================================

C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\ensemble\_weight_boosting.py:519: FutureWarning: The parameter 'algorithm' is deprecated in 1.6 and has no effect. It will be removed in version 1.8.
  warnings.warn(

AdaBoost Classifier
Model performance for training set
Accuracy: 0.8499
f1 score: 0.8198
precision score: 0.7865
recall score: 0.2838
roc auc score: 0.6329
-------------------------------------------------------
Model performance for test set
Accuracy : 0.8436
f1 score: 0.8057
precision score: 0.7647
recall score: 0.2167
roc auc score: 0.6008
===================================

## AdaBoost Regression ML Algorithm

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import plotly.express as px

In [2]:
df = pd.read_csv("C:/Users/raviv/OneDrive/Desktop/cardekho_dataset.csv",index_col=[0])

In [4]:
df1 = pd.read_csv("C:/Users/raviv/OneDrive/Desktop/cardekho_dataset.csv")

In [3]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [5]:
df1.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

## Data Cleaning

In [6]:
## Check null values
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [7]:
## Drop unnecessary columns
df.drop(['car_name','brand'],axis=1,inplace=True)

In [8]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [9]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [10]:
## Getting the different types of features
num_features = [feature for feature in df.columns if df[feature].dtype != 'object']
print("Number of numerical features: ", len(num_features))
cat_features = [feature for feature in df.columns if df[feature].dtype== 'object']
print("Number of Categorical features: ", len(cat_features))
discrete_features = [feature for feature in num_features if len(df[feature].unique()) <=25]
print("Number of Discrete features: ", len(discrete_features))
continuous_feature = [feature for feature in num_features if feature not in discrete_features]
print("Number of continuous features: ", len(continuous_feature))

Number of numerical features:  7
Number of Categorical features:  4
Number of Discrete features:  2
Number of continuous features:  5

In [11]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [12]:
## Split into Independent and Dependent features
from sklearn.model_selection import train_test_split
X = df.drop('selling_price',axis=1)
y = df['selling_price']

In [13]:
X

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5
...,...,...,...,...,...,...,...,...,...,...
19537,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5
19540,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7
19541,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5
19542,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7
19543,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5

In [14]:
y

0         120000
1         550000
2         215000
3         226000
4         570000
          ...
19537     250000
19540     925000
19541     425000
19542    1225000
19543    1200000
Name: selling_price, Length: 15411, dtype: int64

## Feature encoding and scaling

In [15]:
X['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [16]:
X['model'].value_counts()

model
i20             906
Swift Dzire     890
Swift           781
Alto            778
City            757
               ...
Altroz            1
C                 1
Ghost             1
Quattroporte      1
Gurkha            1
Name: count, Length: 120, dtype: int64

In [17]:
## We will use label encoder for the 'model' as we want to capture the relatioship between model and selling price
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['model'] = le.fit_transform(X['model'])

In [18]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [19]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [20]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [21]:
X['seller_type'].value_counts(), X['fuel_type'].value_counts(),X['transmission_type'].value_counts()

(seller_type
 Dealer              9539
 Individual          5699
 Trustmark Dealer     173
 Name: count, dtype: int64,
 fuel_type
 Petrol      7643
 Diesel      7419
 CNG          301
 LPG           44
 Electric       4
 Name: count, dtype: int64,
 transmission_type
 Manual       12225
 Automatic     3186
 Name: count, dtype: int64)

In [22]:
len(X['seller_type'].unique()),len(X['fuel_type'].unique()),len(X['transmission_type'].unique())

(3, 5, 2)

In [23]:
## Create Column transformer with 3 types of transformers
num_features = X.select_dtypes(exclude='object').columns
onehot_columns = ['seller_type','fuel_type','transmission_type']

from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer
numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')


preprocessor = ColumnTransformer([
("OneHotEncoder",oh_transformer,onehot_columns),
("StandardScaler",numeric_transformer,num_features)
],remainder='passthrough'
)

In [24]:
X = preprocessor.fit_transform(X)

In [25]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

In [27]:
## Seperate dataframe into train and test
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)
X_train.shape,X_test.shape

((12328, 14), (3083, 14))

## Model Training and Model selection

In [29]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [30]:
## Create a function to evaluate the model
def evaluate_model(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse = np.sqrt(mean_squared_error(true,predicted))
    R_square = r2_score(true,predicted)
    return mae,rmse,R_square

In [32]:
## beginning model training
models = {
    "Linear Regression" : LinearRegression(),
    "Ridge": Ridge(),
    "Lasso" : Lasso(),
    "K Nearest Neighbors":KNeighborsRegressor(),
    "Decision Tree Reg" : DecisionTreeRegressor(),
    "Random Forest Reg": RandomForestRegressor(),
    "AdaBoost Regressor": AdaBoostRegressor()
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)
    ## Make predictions

    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    ## Evaluate the model
    model_train_mae,model_train_rmse,model_train_r2score = evaluate_model(y_train,y_train_pred)
    model_test_mae,model_test_rmse,model_test_r2score = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    print('Model Performance for training set')
    print("- Root mean square error: {:.4f}".format(model_train_rmse))
    print("-Mean absolute error: {:.4f}".format(model_train_mae))
    print("-R Squared: {:.4f}".format(model_train_r2score))

    print('---------------------------------------------------------------------')

    print('Model Performance for test set')
    print("- Root mean square error: {:.4f}".format(model_test_rmse))
    print("-Mean absolute error: {:.4f}".format(model_test_mae))
    print("-R Squared: {:.4f}".format(model_test_r2score))

    print('='*35)
    print('\n')

Linear Regression
Model Performance for training set
- Root mean square error: 563804.0193
-Mean absolute error: 273361.6008
-R Squared: 0.6186
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 454687.3589
-Mean absolute error: 267899.7341
-R Squared: 0.6882
===================================


Ridge
Model Performance for training set
- Root mean square error: 563804.4395
-Mean absolute error: 273324.3635
-R Squared: 0.6186
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 454675.2035
-Mean absolute error: 267876.2133
-R Squared: 0.6883
===================================


Lasso
Model Performance for training set
- Root mean square error: 563804.0236
-Mean absolute error: 273359.8997
-R Squared: 0.6186
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 454687.6125
-Mean absolute error: 267899.9586
-R Squared: 0.6882
===================================


K Nearest Neighbors
Model Performance for training set
- Root mean square error: 319850.7508
-Mean absolute error: 91115.5459
-R Squared: 0.8773
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 277532.2176
-Mean absolute error: 109840.6017
-R Squared: 0.8838
===================================


Decision Tree Reg
Model Performance for training set
- Root mean square error: 19575.8940
-Mean absolute error: 4935.0287
-R Squared: 0.9995
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 809161.9784
-Mean absolute error: 141800.7866
-R Squared: 0.0127
===================================


Random Forest Reg
Model Performance for training set
- Root mean square error: 130187.5124
-Mean absolute error: 39909.5032
-R Squared: 0.9797
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 366105.2238
-Mean absolute error: 103720.8499
-R Squared: 0.7979
===================================


AdaBoost Regressor
Model Performance for training set
- Root mean square error: 441918.4636
-Mean absolute error: 331390.4491
-R Squared: 0.7657
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 774556.1375
-Mean absolute error: 346615.9825
-R Squared: 0.0953
===================================

In [33]:
## Initialize few parameters for hyperparameter tuning
knn_params = {"n_neighbors" : [2,3,10,20,40,50]}
rf_params = {'max_depth': [5,8,15,None,10],
             "max_features":[5,7,'auto',8],
             'min_samples_split':[2,8,15,20],
             'n_estimators':[100,200,500,1000]}
ada_params = {
            "n_estimators": [50,60,70,80],
            "loss": ['linear','square','exponential']
    
}

In [34]:
## Models list for hyperparameter tuning
randomcv_models = [('KNN',KNeighborsRegressor(),knn_params),
                   ('RF',RandomForestRegressor(),rf_params),
                  ('AB', AdaBoostRegressor(), ada_params)]

In [35]:
## Hyperparameter tuning
model_param = {}
from sklearn.model_selection import RandomizedSearchCV
for name,model,params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,param_distributions=params,
                               n_iter=20,cv=3,verbose=2,n_jobs= -1)
    random.fit(X_train,y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"----------------------Best Params for {model_name}---------------------------")
    print(model_param[model_name])

C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_search.py:317: UserWarning: The total space of parameters 6 is smaller than n_iter=20. Running 6 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Fitting 3 folds for each of 6 candidates, totalling 18 fits
Fitting 3 folds for each of 20 candidates, totalling 60 fits

C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
6 fits failed out of a total of 60.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
3 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
3 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [0.86774071 0.79030033 0.87377733 0.87114906 0.83543051 0.86309025
 0.85522416 0.86607484        nan 0.81843439        nan 0.85562611
 0.78628792 0.86691063 0.85187355 0.87140292 0.87199231 0.84550533
 0.860609   0.85947093]
  warnings.warn(
C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_search.py:317: UserWarning: The total space of parameters 12 is smaller than n_iter=20. Running 12 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Fitting 3 folds for each of 12 candidates, totalling 36 fits
----------------------Best Params for KNN---------------------------
{'n_neighbors': 3}
----------------------Best Params for RF---------------------------
{'n_estimators': 500, 'min_samples_split': 2, 'max_features': 7, 'max_depth': 10}
----------------------Best Params for AB---------------------------
{'n_estimators': 50, 'loss': 'linear'}

In [36]:
## beginning model training
models = {
    
    "Random Forest Reg": RandomForestRegressor(n_estimators=500,min_samples_split=2,max_features=7,max_depth=10),
    "AdaBoost Regressor": AdaBoostRegressor(n_estimators=50,loss='linear')
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)
    ## Make predictions

    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    ## Evaluate the model
    model_train_mae,model_train_rmse,model_train_r2score = evaluate_model(y_train,y_train_pred)
    model_test_mae,model_test_rmse,model_test_r2score = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    print('Model Performance for training set')
    print("- Root mean square error: {:.4f}".format(model_train_rmse))
    print("-Mean absolute error: {:.4f}".format(model_train_mae))
    print("-R Squared: {:.4f}".format(model_train_r2score))

    print('---------------------------------------------------------------------')

    print('Model Performance for test set')
    print("- Root mean square error: {:.4f}".format(model_test_rmse))
    print("-Mean absolute error: {:.4f}".format(model_test_mae))
    print("-R Squared: {:.4f}".format(model_test_r2score))

    print('='*35)
    print('\n')

Random Forest Reg
Model Performance for training set
- Root mean square error: 170153.7396
-Mean absolute error: 84889.7987
-R Squared: 0.9653
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 270247.6782
-Mean absolute error: 104378.7663
-R Squared: 0.8899
===================================


AdaBoost Regressor
Model Performance for training set
- Root mean square error: 477069.3252
-Mean absolute error: 380772.6082
-R Squared: 0.7269
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 616769.7806
-Mean absolute error: 387047.5024
-R Squared: 0.4264
===================================

## Gradient Boosting ML Algorithm

In [1]:
## Import the libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.express as px
%matplotlib inline

In [2]:
df = pd.read_csv('C:/Users/raviv/OneDrive/Desktop/Travel.csv')

In [3]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [4]:
df.shape

(4888, 20)

In [5]:
df.columns

Index(['CustomerID', 'ProdTaken', 'Age', 'TypeofContact', 'CityTier',
       'DurationOfPitch', 'Occupation', 'Gender', 'NumberOfPersonVisiting',
       'NumberOfFollowups', 'ProductPitched', 'PreferredPropertyStar',
       'MaritalStatus', 'NumberOfTrips', 'Passport', 'PitchSatisfactionScore',
       'OwnCar', 'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome'],
      dtype='object')

In [6]:
## Data Cleaning
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [7]:
df['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [8]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [9]:
df['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [10]:
df['Gender'] = df['Gender'].replace('Fe Male', 'Female')

In [11]:
df['MaritalStatus'] = df['MaritalStatus'].replace('Single', 'Unmarried')

In [12]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [13]:
df['Gender'].value_counts()

Gender
Male      2916
Female    1972
Name: count, dtype: int64

In [14]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Unmarried    1598
Divorced      950
Name: count, dtype: int64

In [18]:
## Check missing values
features_with_na = [features for features in df.columns if df[features].isnull().sum() >=1]
for feature in features_with_na:
    print(feature, np.round(df[feature].isnull().mean() *100,5), '% missing values')

Age 4.62357 % missing values
TypeofContact 0.51146 % missing values
DurationOfPitch 5.13502 % missing values
NumberOfFollowups 0.92062 % missing values
PreferredPropertyStar 0.53191 % missing values
NumberOfTrips 2.86416 % missing values
NumberOfChildrenVisiting 1.35025 % missing values
MonthlyIncome 4.76678 % missing values

In [19]:
## Numerical columns distribution
df[features_with_na].select_dtypes(exclude='O').describe()

,Age,DurationOfPitch,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome
count,4662.000000,4637.000000,4843.000000,4862.000000,4748.000000,4822.000000,4655.000000
mean,37.622265,15.490835,3.708445,3.581037,3.236521,1.187267,23619.853491
std,9.316387,8.519643,1.002509,0.798009,1.849019,0.857861,5380.698361
min,18.000000,5.000000,1.000000,3.000000,1.000000,0.000000,1000.000000
25%,31.000000,9.000000,3.000000,3.000000,2.000000,1.000000,20346.000000
50%,36.000000,13.000000,4.000000,3.000000,3.000000,1.000000,22347.000000
75%,44.000000,20.000000,4.000000,4.000000,4.000000,2.000000,25571.000000
max,61.000000,127.000000,6.000000,5.000000,22.000000,3.000000,98678.000000

## Impute Null Values

In [20]:
##df.Age.fillna(df.Age.median(),inplace=True)
median_Age = df['Age'].median()
df['Age'].fillna(median_Age,inplace=True)

C:\Users\raviv\AppData\Local\Temp\ipykernel_44228\607893290.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(median_Age,inplace=True)

In [21]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [22]:
df.TypeofContact.fillna(df.TypeofContact.mode()[0],inplace=True)

C:\Users\raviv\AppData\Local\Temp\ipykernel_44228\1432991057.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.TypeofContact.fillna(df.TypeofContact.mode()[0],inplace=True)

In [23]:
df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0],inplace=True)
df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0],inplace=True)
df.NumberOfTrips.fillna(df.NumberOfTrips.median(),inplace=True)
df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0],inplace=True)
df.MonthlyIncome.fillna(df.MonthlyIncome.median(), inplace=True)

C:\Users\raviv\AppData\Local\Temp\ipykernel_44228\1515653900.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0],inplace=True)
C:\Users\raviv\AppData\Local\Temp\ipykernel_44228\1515653900.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0],inplace=True)
C:\Users\raviv\AppData\Local\Temp\ipykernel_44228\1515653900.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfTrips.fillna(df.NumberOfTrips.median(),inplace=True)
C:\Users\raviv\AppData\Local\Temp\ipykernel_44228\1515653900.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0],inplace=True)
C:\Users\raviv\AppData\Local\Temp\ipykernel_44228\1515653900.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.MonthlyIncome.fillna(df.MonthlyIncome.median(), inplace=True)

In [24]:
df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace=True)

C:\Users\raviv\AppData\Local\Temp\ipykernel_44228\4262229188.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace=True)

In [25]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [26]:
df.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [27]:
df.columns

Index(['CustomerID', 'ProdTaken', 'Age', 'TypeofContact', 'CityTier',
       'DurationOfPitch', 'Occupation', 'Gender', 'NumberOfPersonVisiting',
       'NumberOfFollowups', 'ProductPitched', 'PreferredPropertyStar',
       'MaritalStatus', 'NumberOfTrips', 'Passport', 'PitchSatisfactionScore',
       'OwnCar', 'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome'],
      dtype='object')

In [29]:
df.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [30]:
df.drop('CustomerID', axis=1,inplace=True)

In [31]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

## Feature Engineering

In [32]:
## Create a new column
df['TotalVisiting']=df['NumberOfChildrenVisiting']+df['NumberOfPersonVisiting']

In [33]:
df.drop(columns=['NumberOfChildrenVisiting','NumberOfPersonVisiting'],axis=1,inplace=True)

In [34]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

In [35]:
## Get all the numeric features
num_features = [features for features in df.columns if df[features].dtype != 'O']
print("Number of Numerical features : ", len(num_features))

Number of Numerical features :  12

In [36]:
## Get all the categorical features
cat_features = [features for features in df.columns if df[features].dtype == 'O']
print("Number of Categorical features : ", len(cat_features))

Number of Categorical features :  6

In [37]:
## Discrete features
discrete_features = [feature for feature in num_features if len(df[feature].unique()) <=25]
print("Number of Discrete features : ", len(discrete_features))

Number of Discrete features :  9

In [38]:
## Continuous features
continuous_features = [feature for feature in num_features if feature not in discrete_features]
print("Number of Continuous features : ", len(continuous_features))

Number of Continuous features :  3

In [39]:
## Seperate dataset to train and test
X = df.drop(['ProdTaken'], axis=1)
y = df['ProdTaken']

In [40]:
X

,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,49.0,Self Enquiry,3,9.0,Small Business,Male,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,Manager,26576.0,4.0
4884,28.0,Company Invited,1,31.0,Salaried,Male,5.0,Basic,3.0,Unmarried,3.0,1,3,1,Executive,21212.0,6.0
4885,52.0,Self Enquiry,3,17.0,Salaried,Female,4.0,Standard,4.0,Married,7.0,0,1,1,Senior Manager,31820.0,7.0
4886,19.0,Self Enquiry,3,16.0,Small Business,Male,4.0,Basic,3.0,Unmarried,3.0,0,5,0,Executive,20289.0,5.0
4887,36.0,Self Enquiry,1,14.0,Salaried,Male,4.0,Basic,4.0,Unmarried,3.0,1,3,1,Executive,24041.0,6.0

In [41]:
y

0       1
1       0
2       1
3       0
4       0
       ..
4883    1
4884    1
4885    1
4886    1
4887    1
Name: ProdTaken, Length: 4888, dtype: int64

In [42]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [43]:
X_train.shape, X_test.shape

((3910, 17), (978, 17))

In [45]:
y.value_counts()

ProdTaken
0    3968
1     920
Name: count, dtype: int64

In [46]:
## Create a column transformers with 2 types of transformers
num_features = X.select_dtypes(exclude="O").columns
cat_features = X.select_dtypes(include="O").columns

In [47]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [48]:
numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

In [49]:
preprocessor = ColumnTransformer(
    [("OneHotEncoder", oh_transformer,cat_features),
     ("StandardScaler", numeric_transformer,num_features)    
])

In [50]:
preprocessor

ColumnTransformer(transformers=[('OneHotEncoder', OneHotEncoder(drop='first'),
                                 Index(['TypeofContact', 'Occupation', 'Gender', 'ProductPitched',
       'MaritalStatus', 'Designation'],
      dtype='object')),
                                ('StandardScaler', StandardScaler(),
                                 Index(['Age', 'CityTier', 'DurationOfPitch', 'NumberOfFollowups',
       'PreferredPropertyStar', 'NumberOfTrips', 'Passport',
       'PitchSatisfactionScore', 'OwnCar', 'MonthlyIncome', 'TotalVisiting'],
      dtype='object'))])

In [52]:
X_train = preprocessor.fit_transform(X_train,y_train)

In [54]:
X_test = preprocessor.transform(X_test)

## Gradient Boosting Machine Learning Algorithm

In [55]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,precision_score,recall_score,f1_score,roc_auc_score,roc_curve

In [56]:
models = {
    "Logistic Regression":LogisticRegression(),
    "Decision Tree":DecisionTreeClassifier(),
    "Adaboost Classifier":AdaBoostClassifier(),
    "Random Forest" : RandomForestClassifier(),
    "Gradient Boost":GradientBoostingClassifier()

}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    ## Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    ## Training set performance
    model_train_accuracy = accuracy_score(y_train, y_train_pred)
    model_train_f1 =  f1_score(y_train,y_train_pred,average='weighted')
    model_train_precision = precision_score(y_train,y_train_pred)
    model_train_recall = recall_score(y_train,y_train_pred)
    model_train_roc_auc_score = roc_auc_score(y_train,y_train_pred)

    ## Test set performance

    model_test_accuracy = accuracy_score(y_test, y_test_pred)
    model_test_f1 = f1_score(y_test,y_test_pred,average='weighted')
    model_test_precision = precision_score(y_test,y_test_pred)
    model_test_recall = recall_score(y_test,y_test_pred)
    model_test_roc_auc_score = roc_auc_score(y_test,y_test_pred)

    print(list(models.keys())[i])
    
    print("Model performance for training set")
    print("Accuracy: {:.4f}".format(model_train_accuracy))
    print("f1 score: {:.4f}".format(model_train_f1))
    print("precision score: {:.4f}".format(model_train_precision))
    print("recall score: {:.4f}".format(model_train_recall))
    print("roc auc score: {:.4f}".format(model_train_roc_auc_score))
    
    print('-------------------------------------------------------')

    print("Model performance for test set")
    print("Accuracy : {:.4f}".format(model_test_accuracy))
    print("f1 score: {:.4f}".format(model_test_f1))
    print("precision score: {:.4f}".format(model_test_precision))
    print("recall score: {:.4f}".format(model_test_recall))
    print("roc auc score: {:.4f}".format(model_test_roc_auc_score))

    print('='*35)
    print('\n')

Logistic Regression
Model performance for training set
Accuracy: 0.8450
f1 score: 0.8198
precision score: 0.7043
recall score: 0.3122
roc auc score: 0.6408
-------------------------------------------------------
Model performance for test set
Accuracy : 0.8395
f1 score: 0.8054
precision score: 0.6885
recall score: 0.2333
roc auc score: 0.6048
===================================


Decision Tree
Model performance for training set
Accuracy: 1.0000
f1 score: 1.0000
precision score: 1.0000
recall score: 1.0000
roc auc score: 1.0000
-------------------------------------------------------
Model performance for test set
Accuracy : 0.9346
f1 score: 0.9343
precision score: 0.8295
recall score: 0.8111
roc auc score: 0.8868
===================================


Adaboost Classifier
Model performance for training set
Accuracy: 0.8481
f1 score: 0.8164
precision score: 0.7874
recall score: 0.2703
roc auc score: 0.6266
-------------------------------------------------------
Model performance for test set
Accuracy : 0.8425
f1 score: 0.8040
precision score: 0.7600
recall score: 0.2111
roc auc score: 0.5980
===================================


Random Forest
Model performance for training set
Accuracy: 1.0000
f1 score: 1.0000
precision score: 1.0000
recall score: 1.0000
roc auc score: 1.0000
-------------------------------------------------------
Model performance for test set
Accuracy : 0.9274
f1 score: 0.9211
precision score: 0.9658
recall score: 0.6278
roc auc score: 0.8114
===================================


Gradient Boost
Model performance for training set
Accuracy: 0.8887
f1 score: 0.8764
precision score: 0.8571
recall score: 0.4946
roc auc score: 0.7377
-------------------------------------------------------
Model performance for test set
Accuracy : 0.8681
f1 score: 0.8457
precision score: 0.8312
recall score: 0.3556
roc auc score: 0.6696
===================================

In [60]:
## Hyperparameter training
rf_params = {"max_depth":[5,8,15,None,10],
             "max_features":[5,7,"auto",8],
             "min_samples_split":[2,8,15,20],
             "n_estimators":[100,200,500]
            }
gradient_params = {
            "loss":['log_loss','deviance','exponential'],
            "criterion":['friedman_mse','squared_error','mse'],
             "min_samples_split":[2,8,15,20],
             "n_estimators":[100,200,500],
             "max_depth":[5,8,15,None,10]
}

In [61]:
rf_params

{'max_depth': [5, 8, 15, None, 10],
 'max_features': [5, 7, 'auto', 8],
 'min_samples_split': [2, 8, 15, 20],
 'n_estimators': [100, 200, 500]}

In [62]:
gradient_params

{'loss': ['log_loss', 'deviance', 'exponential'],
 'criterion': ['friedman_mse', 'squared_error', 'mse'],
 'min_samples_split': [2, 8, 15, 20],
 'n_estimators': [100, 200, 500],
 'max_depth': [5, 8, 15, None, 10]}

In [64]:
## Models list for hyperparameter tuning
randomcv_models = [
            ("RF", RandomForestClassifier(), rf_params),
            ("GB", GradientBoostingClassifier(), gradient_params)
]

In [65]:
randomcv_models

[('RF',
  RandomForestClassifier(),
  {'max_depth': [5, 8, 15, None, 10],
   'max_features': [5, 7, 'auto', 8],
   'min_samples_split': [2, 8, 15, 20],
   'n_estimators': [100, 200, 500]}),
 ('GB',
  GradientBoostingClassifier(),
  {'loss': ['log_loss', 'deviance', 'exponential'],
   'criterion': ['friedman_mse', 'squared_error', 'mse'],
   'min_samples_split': [2, 8, 15, 20],
   'n_estimators': [100, 200, 500],
   'max_depth': [5, 8, 15, None, 10]})]

In [66]:
from sklearn.model_selection import RandomizedSearchCV
model_param = {}
for name,model,params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,param_distributions=params,n_iter=100,cv=3,verbose=2,n_jobs=-1)
    random.fit(X_train,y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"----------------------Best params for {model_name}--------------------------------------")
    print(model_param[model_name])

Fitting 3 folds for each of 100 candidates, totalling 300 fits

C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
75 fits failed out of a total of 300.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
42 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
33 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [0.86879872 0.86675275 0.86982161 0.87442519 0.85524458        nan
 0.86700877 0.87340211 0.84296797 0.84475832        nan 0.84117704
 0.86880049 0.84041017 0.84603703 0.85780219 0.87877236 0.84526976
 0.86419416 0.8744246  0.86112589 0.86751923 0.91432289 0.87135594
 0.84578101        nan 0.84220091        nan 0.86266042 0.88797972
 0.88312032 0.88849175 0.9133002  0.86010202 0.88797933 0.8844002
 0.83196929 0.8757039  0.84552558 0.86547306 0.83606162 0.85933652
        nan 0.88925823        nan 0.85959195 0.86956638 0.8828647
 0.91304458 0.85882488        nan 0.85447752 0.87033188 0.88951425
 0.8890028         nan 0.86803067        nan 0.90716347 0.86368311
        nan        nan 0.85933633        nan 0.90844139 0.90946447
 0.83171406        nan 0.8900253  0.86419475 0.88260888        nan
 0.86470639        nan        nan 0.85959156 0.90537194 0.88874659
        nan        nan 0.86726459        nan        nan 0.88005185
 0.83196988        nan        nan 0.89207166 0.86649556 0.85115245
        nan 0.91125443 0.85447732 0.84168887 0.8624046  0.84552539
        nan 0.86189355 0.84168907        nan]
  warnings.warn(

Fitting 3 folds for each of 100 candidates, totalling 300 fits

C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
168 fits failed out of a total of 300.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of GradientBoostingClassifier must be a str among {'friedman_mse', 'squared_error'}. Got 'mse' instead.

--------------------------------------------------------------------------------
69 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of GradientBoostingClassifier must be a str among {'squared_error', 'friedman_mse'}. Got 'mse' instead.

--------------------------------------------------------------------------------
39 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'loss' parameter of GradientBoostingClassifier must be a str among {'exponential', 'log_loss'}. Got 'deviance' instead.

--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'loss' parameter of GradientBoostingClassifier must be a str among {'log_loss', 'exponential'}. Got 'deviance' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [0.9265997  0.89616419        nan 0.92659872        nan 0.9166239
 0.92532138 0.91994877        nan 0.9276216         nan 0.9289011
        nan 0.92813324        nan        nan        nan        nan
 0.92736598        nan        nan        nan 0.92813403        nan
 0.92583243 0.91918288        nan        nan 0.89079413        nan
 0.91688011        nan        nan        nan 0.8826079         nan
 0.92480817        nan        nan 0.92455392 0.92864547        nan
 0.89974665 0.92608786 0.92352947 0.92455314 0.92327424 0.89309573
        nan        nan        nan        nan 0.92685532 0.92199572
        nan        nan        nan 0.92711095        nan        nan
 0.92250638        nan        nan        nan 0.92736696        nan
 0.88798031        nan        nan        nan 0.92787742 0.92839024
 0.9253208         nan        nan        nan        nan        nan
 0.90051333        nan        nan        nan 0.92660068        nan
        nan        nan 0.92506498        nan 0.92557661 0.93120367
        nan 0.91381145        nan 0.88158501        nan 0.92429693
        nan 0.89642021        nan 0.91867065]
  warnings.warn(

----------------------Best params for RF--------------------------------------
{'n_estimators': 100, 'min_samples_split': 2, 'max_features': 8, 'max_depth': 15}
----------------------Best params for GB--------------------------------------
{'n_estimators': 500, 'min_samples_split': 15, 'max_depth': 15, 'loss': 'exponential', 'criterion': 'squared_error'}

In [68]:
models = {
   
    "Random Forest" : RandomForestClassifier(n_estimators= 100, min_samples_split= 2, max_features= 8, max_depth= 15),
    "Gradient Boost":GradientBoostingClassifier(n_estimators= 500, min_samples_split= 15, max_depth= 15, loss= 'exponential', criterion= 'squared_error')

}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    ## Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    ## Training set performance
    model_train_accuracy = accuracy_score(y_train, y_train_pred)
    model_train_f1 =  f1_score(y_train,y_train_pred,average='weighted')
    model_train_precision = precision_score(y_train,y_train_pred)
    model_train_recall = recall_score(y_train,y_train_pred)
    model_train_roc_auc_score = roc_auc_score(y_train,y_train_pred)

     ## Test set performance

    model_test_accuracy = accuracy_score(y_test, y_test_pred)
    model_test_f1 = f1_score(y_test,y_test_pred,average='weighted')
    model_test_precision = precision_score(y_test,y_test_pred)
    model_test_recall = recall_score(y_test,y_test_pred)
    model_test_roc_auc_score = roc_auc_score(y_test,y_test_pred)

    print(list(models.keys())[i])
    
    print("Model performance for training set")
    print("Accuracy: {:.4f}".format(model_train_accuracy))
    print("f1 score: {:.4f}".format(model_train_f1))
    print("precision score: {:.4f}".format(model_train_precision))
    print("recall score: {:.4f}".format(model_train_recall))
    print("roc auc score: {:.4f}".format(model_train_roc_auc_score))
    
    print('-------------------------------------------------------')

    print("Model performance for test set")
    print("Accuracy : {:.4f}".format(model_test_accuracy))
    print("f1 score: {:.4f}".format(model_test_f1))
    print("precision score: {:.4f}".format(model_test_precision))
    print("recall score: {:.4f}".format(model_test_recall))
    print("roc auc score: {:.4f}".format(model_test_roc_auc_score))

    print('='*35)
    print('\n')

Random Forest
Model performance for training set
Accuracy: 0.9987
f1 score: 0.9987
precision score: 1.0000
recall score: 0.9932
roc auc score: 0.9966
-------------------------------------------------------
Model performance for test set
Accuracy : 0.9376
f1 score: 0.9336
precision score: 0.9542
recall score: 0.6944
roc auc score: 0.8435
===================================


Gradient Boost
Model performance for training set
Accuracy: 1.0000
f1 score: 1.0000
precision score: 1.0000
recall score: 1.0000
roc auc score: 1.0000
-------------------------------------------------------
Model performance for test set
Accuracy : 0.9693
f1 score: 0.9683
precision score: 0.9934
recall score: 0.8389
roc auc score: 0.9188
===================================

## Gradient Boosting Regression ML Algorithm

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import plotly.express as px

In [2]:
df = pd.read_csv("C:/Users/raviv/OneDrive/Desktop/cardekho_dataset.csv",index_col=[0])

In [3]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

## Data Cleaning

In [4]:
## Check null values
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [5]:
## Drop unnecessary columns
df.drop(['car_name','brand'],axis=1,inplace=True)

In [6]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [11]:
## Check for unique models
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [12]:
## Getting the different types of features
num_features = [feature for feature in df.columns if df[feature].dtype != 'object']
print("Number of numerical features: ", len(num_features))
cat_features = [feature for feature in df.columns if df[feature].dtype== 'object']
print("Number of Categorical features: ", len(cat_features))
discrete_features = [feature for feature in num_features if len(df[feature].unique()) <=25]
print("Number of Discrete features: ", len(discrete_features))
continuous_feature = [feature for feature in num_features if feature not in discrete_features]
print("Number of continuous features: ", len(continuous_feature))

Number of numerical features:  7
Number of Categorical features:  4
Number of Discrete features:  2
Number of continuous features:  5

In [13]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [14]:
## Split into Independent and Dependent features
from sklearn.model_selection import train_test_split
X = df.drop('selling_price',axis=1)
y = df['selling_price']

In [15]:
X

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5
...,...,...,...,...,...,...,...,...,...,...
19537,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5
19540,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7
19541,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5
19542,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7
19543,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5

In [16]:
y

0         120000
1         550000
2         215000
3         226000
4         570000
          ...
19537     250000
19540     925000
19541     425000
19542    1225000
19543    1200000
Name: selling_price, Length: 15411, dtype: int64

## Feature Encoding and Scaling

In [17]:
X['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [19]:
X['model'].value_counts()

model
i20             906
Swift Dzire     890
Swift           781
Alto            778
City            757
               ...
Altroz            1
C                 1
Ghost             1
Quattroporte      1
Gurkha            1
Name: count, Length: 120, dtype: int64

In [20]:
## We will use label encoder for the 'model' as we want to capture the relatioship between model and selling price
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['model'] = le.fit_transform(X['model'])

In [21]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [22]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [23]:
X['seller_type'].value_counts(), X['fuel_type'].value_counts(),X['transmission_type'].value_counts()

(seller_type
 Dealer              9539
 Individual          5699
 Trustmark Dealer     173
 Name: count, dtype: int64,
 fuel_type
 Petrol      7643
 Diesel      7419
 CNG          301
 LPG           44
 Electric       4
 Name: count, dtype: int64,
 transmission_type
 Manual       12225
 Automatic     3186
 Name: count, dtype: int64)

In [24]:
len(X['seller_type'].unique()),len(X['fuel_type'].unique()),len(X['transmission_type'].unique())

(3, 5, 2)

In [25]:
## Create Column transformer with 3 types of transformers
num_features = X.select_dtypes(exclude='object').columns
onehot_columns = ['seller_type','fuel_type','transmission_type']

from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer
numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')


preprocessor = ColumnTransformer([
("OneHotEncoder",oh_transformer,onehot_columns),
("StandardScaler",numeric_transformer,num_features)
],remainder='passthrough'
)

In [26]:
X = preprocessor.fit_transform(X)

In [27]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

In [28]:
## Seperate dataframe into train and test
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)
X_train.shape,X_test.shape

((12328, 14), (3083, 14))

## Model training and Model selection

In [29]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [30]:
## Create a function to evaluate the model
def evaluate_model(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse = np.sqrt(mean_squared_error(true,predicted))
    R_square = r2_score(true,predicted)
    return mae,rmse,R_square

In [31]:
## beginning model training
models = {
    "Linear Regression" : LinearRegression(),
    "Ridge": Ridge(),
    "Lasso" : Lasso(),
    "K Nearest Neighbors":KNeighborsRegressor(),
    "Decision Tree Reg" : DecisionTreeRegressor(),
    "Random Forest Reg": RandomForestRegressor(),
    "AdaBoost Regressor": AdaBoostRegressor(),
    "Gradient Boost Regressor":GradientBoostingRegressor()
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)
    ## Make predictions

    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    ## Evaluate the model
    model_train_mae,model_train_rmse,model_train_r2score = evaluate_model(y_train,y_train_pred)
    model_test_mae,model_test_rmse,model_test_r2score = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    print('Model Performance for training set')
    print("- Root mean square error: {:.4f}".format(model_train_rmse))
    print("-Mean absolute error: {:.4f}".format(model_train_mae))
    print("-R Squared: {:.4f}".format(model_train_r2score))

    print('---------------------------------------------------------------------')

    print('Model Performance for test set')
    print("- Root mean square error: {:.4f}".format(model_test_rmse))
    print("-Mean absolute error: {:.4f}".format(model_test_mae))
    print("-R Squared: {:.4f}".format(model_test_r2score))

    print('='*35)
    print('\n')

Linear Regression
Model Performance for training set
- Root mean square error: 563804.0193
-Mean absolute error: 273361.6008
-R Squared: 0.6186
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 454687.3589
-Mean absolute error: 267899.7341
-R Squared: 0.6882
===================================


Ridge
Model Performance for training set
- Root mean square error: 563804.4395
-Mean absolute error: 273324.3635
-R Squared: 0.6186
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 454675.2035
-Mean absolute error: 267876.2133
-R Squared: 0.6883
===================================


Lasso
Model Performance for training set
- Root mean square error: 563804.0236
-Mean absolute error: 273359.8997
-R Squared: 0.6186
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 454687.6125
-Mean absolute error: 267899.9586
-R Squared: 0.6882
===================================


K Nearest Neighbors
Model Performance for training set
- Root mean square error: 319850.7508
-Mean absolute error: 91115.5459
-R Squared: 0.8773
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 277532.2176
-Mean absolute error: 109840.6017
-R Squared: 0.8838
===================================


Decision Tree Reg
Model Performance for training set
- Root mean square error: 19575.8940
-Mean absolute error: 4935.0287
-R Squared: 0.9995
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 468306.3498
-Mean absolute error: 131228.5085
-R Squared: 0.6693
===================================


Random Forest Reg
Model Performance for training set
- Root mean square error: 122917.7665
-Mean absolute error: 39902.2832
-R Squared: 0.9819
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 372413.8104
-Mean absolute error: 103905.6164
-R Squared: 0.7909
===================================


AdaBoost Regressor
Model Performance for training set
- Root mean square error: 444557.3884
-Mean absolute error: 329294.2393
-R Squared: 0.7629
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 581076.5587
-Mean absolute error: 338449.0446
-R Squared: 0.4908
===================================


Gradient Boost Regressor
Model Performance for training set
- Root mean square error: 212405.9970
-Mean absolute error: 114002.5747
-R Squared: 0.9459
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 461448.1342
-Mean absolute error: 127658.9978
-R Squared: 0.6789
===================================

In [33]:
## Initialize few parameters for hyperparameter tuning

rf_params = {'max_depth': [5,8,15,None,10],
             "max_features":[5,7,'auto',8],
             'min_samples_split':[2,8,15,20],
             'n_estimators':[100,200,500,1000]}
gradient_params = {
            "n_estimators": [100,200,500,1000],
            "loss": ['squared_error', 'absolute_error', 'huber'],
            "criterion":['friedman_mse','squared_error','mse'],
            'min_samples_split':[2,8,15,20],
            'max_depth': [5,8,15,None,10],
            'learning_rate':[0.1,0.01,0.001]}

In [34]:
rf_params

{'max_depth': [5, 8, 15, None, 10],
 'max_features': [5, 7, 'auto', 8],
 'min_samples_split': [2, 8, 15, 20],
 'n_estimators': [100, 200, 500, 1000]}

In [35]:
gradient_params

{'n_estimators': [100, 200, 500, 1000],
 'loss': ['squared_error', 'absolute_error', 'huber'],
 'criterion': ['friedman_mse', 'squared_error', 'mse'],
 'min_samples_split': [2, 8, 15, 20],
 'max_depth': [5, 8, 15, None, 10],
 'learning_rate': [0.1, 0.01, 0.001]}

In [36]:
## Models list for hyperparameter tuning
randomcv_models = [
                   ('RF',RandomForestRegressor(),rf_params),
                  ('GB', GradientBoostingRegressor(), gradient_params )]

In [37]:
## Hyperparameter tuning
model_param = {}
from sklearn.model_selection import RandomizedSearchCV
for name,model,params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,param_distributions=params,
                               n_iter=20,cv=3,verbose=2,n_jobs= -1)
    random.fit(X_train,y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"----------------------Best Params for {model_name}---------------------------")
    print(model_param[model_name])

Fitting 3 folds for each of 20 candidates, totalling 60 fits

C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
9 fits failed out of a total of 60.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
9 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [0.87384482 0.86281255 0.85650744 0.87376381 0.88115175        nan
 0.85925228 0.81634313 0.87839023 0.86548416 0.86858918 0.84554879
 0.86590563 0.85081445 0.81813726 0.8738771         nan        nan
 0.87919026 0.85268284]
  warnings.warn(

Fitting 3 folds for each of 20 candidates, totalling 60 fits

C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
6 fits failed out of a total of 60.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
6 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of GradientBoostingRegressor must be a str among {'friedman_mse', 'squared_error'}. Got 'mse' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [ 0.87416678  0.87638069  0.87640588         nan  0.37793972  0.29146678
  0.68503918 -0.01630773  0.05845734  0.88985014         nan  0.76045755
  0.16056402  0.87775019  0.86565171  0.50416868  0.37429376  0.87505551
  0.43821896  0.89408806]
  warnings.warn(

----------------------Best Params for RF---------------------------
{'n_estimators': 500, 'min_samples_split': 2, 'max_features': 7, 'max_depth': 15}
----------------------Best Params for GB---------------------------
{'n_estimators': 500, 'min_samples_split': 20, 'max_depth': 15, 'loss': 'huber', 'learning_rate': 0.1, 'criterion': 'friedman_mse'}

In [39]:
## beginning model training
models = {
    "Random Forest Reg": RandomForestRegressor(n_estimators= 500, min_samples_split= 2, max_features = 7,max_depth = 15),
    
    "Gradient Boost Regressor":GradientBoostingRegressor(n_estimators= 500, min_samples_split= 20,max_depth= 15, 
    loss= 'huber', learning_rate= 0.1, criterion= 'friedman_mse')
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)
    ## Make predictions

    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    ## Evaluate the model
    model_train_mae,model_train_rmse,model_train_r2score = evaluate_model(y_train,y_train_pred)
    model_test_mae,model_test_rmse,model_test_r2score = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    print('Model Performance for training set')
    print("- Root mean square error: {:.4f}".format(model_train_rmse))
    print("-Mean absolute error: {:.4f}".format(model_train_mae))
    print("-R Squared: {:.4f}".format(model_train_r2score))

    print('---------------------------------------------------------------------')

    print('Model Performance for test set')
    print("- Root mean square error: {:.4f}".format(model_test_rmse))
    print("-Mean absolute error: {:.4f}".format(model_test_mae))
    print("-R Squared: {:.4f}".format(model_test_r2score))

    print('='*35)
    print('\n')

Random Forest Reg
Model Performance for training set
- Root mean square error: 130594.1199
-Mean absolute error: 54259.7337
-R Squared: 0.9795
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 243675.8170
-Mean absolute error: 96162.0817
-R Squared: 0.9105
===================================


Gradient Boost Regressor
Model Performance for training set
- Root mean square error: 30678.7603
-Mean absolute error: 15437.9054
-R Squared: 0.9989
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 441627.6347
-Mean absolute error: 104862.4633
-R Squared: 0.7059
===================================

## XGboost Classification ML Algorithm

In [1]:
## Import the libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.express as px
%matplotlib inline

In [2]:
df = pd.read_csv('C:/Users/raviv/OneDrive/Desktop/Travel.csv')

In [3]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [4]:
df.shape

(4888, 20)

In [5]:
df.columns

Index(['CustomerID', 'ProdTaken', 'Age', 'TypeofContact', 'CityTier',
       'DurationOfPitch', 'Occupation', 'Gender', 'NumberOfPersonVisiting',
       'NumberOfFollowups', 'ProductPitched', 'PreferredPropertyStar',
       'MaritalStatus', 'NumberOfTrips', 'Passport', 'PitchSatisfactionScore',
       'OwnCar', 'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome'],
      dtype='object')

In [6]:
## Data Cleaning
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [7]:
df['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [8]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [10]:
df['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [11]:
df['Gender'] = df['Gender'].replace('Fe Male', 'Female')

In [12]:
df['MaritalStatus'] = df['MaritalStatus'].replace('Single','Unmarried')

In [13]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [14]:
## Check Missing Values
features_with_na = [features for features in df.columns if df[features].isnull().sum() >= 1]
for feature in features_with_na:
    print(feature, np.round(df[feature].isnull().mean() * 100,5), '% missing values')

Age 4.62357 % missing values
TypeofContact 0.51146 % missing values
DurationOfPitch 5.13502 % missing values
NumberOfFollowups 0.92062 % missing values
PreferredPropertyStar 0.53191 % missing values
NumberOfTrips 2.86416 % missing values
NumberOfChildrenVisiting 1.35025 % missing values
MonthlyIncome 4.76678 % missing values

In [15]:
## Numerical columns description
df[features_with_na].select_dtypes(exclude='O').describe()

,Age,DurationOfPitch,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome
count,4662.000000,4637.000000,4843.000000,4862.000000,4748.000000,4822.000000,4655.000000
mean,37.622265,15.490835,3.708445,3.581037,3.236521,1.187267,23619.853491
std,9.316387,8.519643,1.002509,0.798009,1.849019,0.857861,5380.698361
min,18.000000,5.000000,1.000000,3.000000,1.000000,0.000000,1000.000000
25%,31.000000,9.000000,3.000000,3.000000,2.000000,1.000000,20346.000000
50%,36.000000,13.000000,4.000000,3.000000,3.000000,1.000000,22347.000000
75%,44.000000,20.000000,4.000000,4.000000,4.000000,2.000000,25571.000000
max,61.000000,127.000000,6.000000,5.000000,22.000000,3.000000,98678.000000

## Impute Null Values

In [16]:
df.Age.fillna(df.Age.median(),inplace=True)

C:\Users\raviv\AppData\Local\Temp\ipykernel_25072\1634043521.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Age.fillna(df.Age.median(),inplace=True)

In [18]:
df.TypeofContact.fillna(df.TypeofContact.mode()[0],inplace=True)

C:\Users\raviv\AppData\Local\Temp\ipykernel_25072\1432991057.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.TypeofContact.fillna(df.TypeofContact.mode()[0],inplace=True)

In [19]:
df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace=True)
df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0],inplace=True)
df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0],inplace=True)
df.NumberOfTrips.fillna(df.NumberOfTrips.median(),inplace=True)
df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0],inplace=True)
df.MonthlyIncome.fillna(df.MonthlyIncome.median(), inplace=True)

C:\Users\raviv\AppData\Local\Temp\ipykernel_25072\2142805168.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace=True)
C:\Users\raviv\AppData\Local\Temp\ipykernel_25072\2142805168.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0],inplace=True)
C:\Users\raviv\AppData\Local\Temp\ipykernel_25072\2142805168.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0],inplace=True)
C:\Users\raviv\AppData\Local\Temp\ipykernel_25072\2142805168.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfTrips.fillna(df.NumberOfTrips.median(),inplace=True)
C:\Users\raviv\AppData\Local\Temp\ipykernel_25072\2142805168.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0],inplace=True)
C:\Users\raviv\AppData\Local\Temp\ipykernel_25072\2142805168.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.MonthlyIncome.fillna(df.MonthlyIncome.median(), inplace=True)

In [20]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [21]:
df.drop(['CustomerID'],axis=1,inplace=True)

In [23]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [24]:
df.isnull().sum()

ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

## Feature Engineering

In [25]:
## Create a new column
df['TotalVisiting'] = df['NumberOfPersonVisiting'] + df['NumberOfChildrenVisiting']
df.drop(columns = ['NumberOfPersonVisiting', 'NumberOfChildrenVisiting'], axis=1,inplace=True)

In [26]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

In [28]:
## get all the numeric features
num_features = [features for features in df.columns if df[features].dtype != 'object']
print("Number of Numerical features:", len(num_features))

Number of Numerical features: 12

In [29]:
## get all the categorical features
cat_features = [feature for feature in df.columns if df[feature].dtype == 'object']
print("Number of Categorical features:", len(cat_features))

Number of Categorical features: 6

In [30]:
## Discrete features
discrete_features = [feature for feature in num_features if len(df[feature].unique()) <=25]
print("Number of discrete features: ", len(discrete_features))

Number of discrete features:  9

In [31]:
## Continuous features
continuous_features = [feature for feature in num_features if feature not in discrete_features]
print("Number of continuous features:", len(continuous_features))

Number of continuous features: 3

In [32]:
## Train, test split and model traning
from sklearn.model_selection import train_test_split
X = df.drop(['ProdTaken'],axis=1)
y = df['ProdTaken']

In [33]:
X.head()

,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

In [34]:
y

0       1
1       0
2       1
3       0
4       0
       ..
4883    1
4884    1
4885    1
4886    1
4887    1
Name: ProdTaken, Length: 4888, dtype: int64

In [35]:
## Seperate dataset to train and test sets.
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [36]:
X_train.shape,X_test.shape

((3910, 17), (978, 17))

In [37]:
y.value_counts()

ProdTaken
0    3968
1     920
Name: count, dtype: int64

In [38]:
## Create a column transformer with 3 types of transformers.

cat_features = X.select_dtypes(include='object').columns

num_features = X.select_dtypes(exclude='object').columns

In [39]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [40]:
numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

In [41]:
preprocessor = ColumnTransformer(
    [('OneHotEncoder', oh_transformer, cat_features),
    ('StandaraScaler', numeric_transformer, num_features)
    ]
)

In [42]:
preprocessor

ColumnTransformer(transformers=[('OneHotEncoder', OneHotEncoder(drop='first'),
                                 Index(['TypeofContact', 'Occupation', 'Gender', 'ProductPitched',
       'MaritalStatus', 'Designation'],
      dtype='object')),
                                ('StandaraScaler', StandardScaler(),
                                 Index(['Age', 'CityTier', 'DurationOfPitch', 'NumberOfFollowups',
       'PreferredPropertyStar', 'NumberOfTrips', 'Passport',
       'PitchSatisfactionScore', 'OwnCar', 'MonthlyIncome', 'TotalVisiting'],
      dtype='object'))])

In [43]:
X_train = preprocessor.fit_transform(X_train)

In [44]:
X_test = preprocessor.transform(X_test)

In [45]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-3.0.5-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\lib\site-packages (from xgboost) (2.1.3)
Requirement already satisfied: scipy in c:\users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\lib\site-packages (from xgboost) (1.15.3)
Downloading xgboost-3.0.5-py3-none-win_amd64.whl (56.8 MB)
   ---------------------------------------- 0.0/56.8 MB ? eta -:--:--
   - -------------------------------------- 2.1/56.8 MB 11.8 MB/s eta 0:00:05
   --- ------------------------------------ 4.5/56.8 MB 11.2 MB/s eta 0:00:05
   ---- ----------------------------------- 6.6/56.8 MB 11.2 MB/s eta 0:00:05
   ----- ---------------------------------- 8.4/56.8 MB 10.4 MB/s eta 0:00:05
   ------- -------------------------------- 10.0/56.8 MB 9.9 MB/s eta 0:00:05
   -------- ------------------------------- 11.5/56.8 MB 9.4 MB/s eta 0:00:05
   --------- ------------------------------ 14.2/56.8 MB 9.9 MB/s eta 0:00:05
   ----------- ---------------------------- 17.0/56.8 MB 10.2 MB/s eta 0:00:04
   ------------- -------------------------- 18.6/56.8 MB 10.0 MB/s eta 0:00:04
   --------------- ------------------------ 21.5/56.8 MB 10.3 MB/s eta 0:00:04
   ---------------- ----------------------- 24.1/56.8 MB 10.5 MB/s eta 0:00:04
   ------------------ --------------------- 26.2/56.8 MB 10.4 MB/s eta 0:00:03
   ------------------- -------------------- 28.3/56.8 MB 10.4 MB/s eta 0:00:03
   --------------------- ------------------ 30.9/56.8 MB 10.6 MB/s eta 0:00:03
   ----------------------- ---------------- 33.0/56.8 MB 10.4 MB/s eta 0:00:03
   ------------------------ --------------- 34.9/56.8 MB 10.4 MB/s eta 0:00:03
   ------------------------- -------------- 36.7/56.8 MB 10.4 MB/s eta 0:00:02
   --------------------------- ------------ 38.8/56.8 MB 10.3 MB/s eta 0:00:02
   ---------------------------- ----------- 40.6/56.8 MB 10.2 MB/s eta 0:00:02
   ------------------------------ --------- 42.7/56.8 MB 10.2 MB/s eta 0:00:02
   ------------------------------- -------- 44.8/56.8 MB 10.2 MB/s eta 0:00:02
   -------------------------------- ------- 46.7/56.8 MB 10.1 MB/s eta 0:00:02
   ---------------------------------- ----- 49.0/56.8 MB 10.2 MB/s eta 0:00:01
   ------------------------------------ --- 51.4/56.8 MB 10.3 MB/s eta 0:00:01
   -------------------------------------- - 54.3/56.8 MB 10.4 MB/s eta 0:00:01
   ---------------------------------------  55.6/56.8 MB 10.4 MB/s eta 0:00:01
   ---------------------------------------  56.6/56.8 MB 10.2 MB/s eta 0:00:01
   ---------------------------------------- 56.8/56.8 MB 9.9 MB/s eta 0:00:00
Installing collected packages: xgboost
Successfully installed xgboost-3.0.5

In [46]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,precision_score,recall_score,f1_score,roc_auc_score,roc_curve

In [47]:
models = {
    "Logistic Regression":LogisticRegression(),
    "Decision Tree":DecisionTreeClassifier(),
    "Adaboost Classifier":AdaBoostClassifier(),
    "Random Forest" : RandomForestClassifier(),
    "Gradient Boost":GradientBoostingClassifier(),
    "XGBoost Classifier": XGBClassifier()

}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    ## Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    ## Training set performance
    model_train_accuracy = accuracy_score(y_train, y_train_pred)
    model_train_f1 =  f1_score(y_train,y_train_pred,average='weighted')
    model_train_precision = precision_score(y_train,y_train_pred)
    model_train_recall = recall_score(y_train,y_train_pred)
    model_train_roc_auc_score = roc_auc_score(y_train,y_train_pred)

    ## Test set performance

    model_test_accuracy = accuracy_score(y_test, y_test_pred)
    model_test_f1 = f1_score(y_test,y_test_pred,average='weighted')
    model_test_precision = precision_score(y_test,y_test_pred)
    model_test_recall = recall_score(y_test,y_test_pred)
    model_test_roc_auc_score = roc_auc_score(y_test,y_test_pred)

    print(list(models.keys())[i])
    
    print("Model performance for training set")
    print("Accuracy: {:.4f}".format(model_train_accuracy))
    print("f1 score: {:.4f}".format(model_train_f1))
    print("precision score: {:.4f}".format(model_train_precision))
    print("recall score: {:.4f}".format(model_train_recall))
    print("roc auc score: {:.4f}".format(model_train_roc_auc_score))
    
    print('-------------------------------------------------------')

    print("Model performance for test set")
    print("Accuracy : {:.4f}".format(model_test_accuracy))
    print("f1 score: {:.4f}".format(model_test_f1))
    print("precision score: {:.4f}".format(model_test_precision))
    print("recall score: {:.4f}".format(model_test_recall))
    print("roc auc score: {:.4f}".format(model_test_roc_auc_score))

    print('='*35)
    print('\n')

Logistic Regression
Model performance for training set
Accuracy: 0.8450
f1 score: 0.8198
precision score: 0.7043
recall score: 0.3122
roc auc score: 0.6408
-------------------------------------------------------
Model performance for test set
Accuracy : 0.8395
f1 score: 0.8054
precision score: 0.6885
recall score: 0.2333
roc auc score: 0.6048
===================================


Decision Tree
Model performance for training set
Accuracy: 1.0000
f1 score: 1.0000
precision score: 1.0000
recall score: 1.0000
roc auc score: 1.0000
-------------------------------------------------------
Model performance for test set
Accuracy : 0.9305
f1 score: 0.9300
precision score: 0.8218
recall score: 0.7944
roc auc score: 0.8778
===================================


Adaboost Classifier
Model performance for training set
Accuracy: 0.8481
f1 score: 0.8164
precision score: 0.7874
recall score: 0.2703
roc auc score: 0.6266
-------------------------------------------------------
Model performance for test set
Accuracy : 0.8425
f1 score: 0.8040
precision score: 0.7600
recall score: 0.2111
roc auc score: 0.5980
===================================


Random Forest
Model performance for training set
Accuracy: 1.0000
f1 score: 1.0000
precision score: 1.0000
recall score: 1.0000
roc auc score: 1.0000
-------------------------------------------------------
Model performance for test set
Accuracy : 0.9254
f1 score: 0.9189
precision score: 0.9573
recall score: 0.6222
roc auc score: 0.8080
===================================


Gradient Boost
Model performance for training set
Accuracy: 0.8887
f1 score: 0.8764
precision score: 0.8571
recall score: 0.4946
roc auc score: 0.7377
-------------------------------------------------------
Model performance for test set
Accuracy : 0.8671
f1 score: 0.8441
precision score: 0.8289
recall score: 0.3500
roc auc score: 0.6669
===================================


XGBoost Classifier
Model performance for training set
Accuracy: 0.9995
f1 score: 0.9995
precision score: 1.0000
recall score: 0.9973
roc auc score: 0.9986
-------------------------------------------------------
Model performance for test set
Accuracy : 0.9366
f1 score: 0.9334
precision score: 0.9214
recall score: 0.7167
roc auc score: 0.8514
===================================

In [49]:
## Hyperparameter training
rf_params = {"max_depth":[5,8,15,None,10],
             "max_features":[5,7,"auto",8],
             "min_samples_split":[2,8,15,20],
             "n_estimators":[100,200,500,1000]
            }
xgboost_params = {
            "learning_rate":[0.1,0.01],
            "max_depth":[5,8,12,20,30],
            "n_estimators":[100,200,300],
            "colsample_bytree":[0.5,0.8,1,0.3,0.4]
    
}

In [50]:
rf_params

{'max_depth': [5, 8, 15, None, 10],
 'max_features': [5, 7, 'auto', 8],
 'min_samples_split': [2, 8, 15, 20],
 'n_estimators': [100, 200, 500, 1000]}

In [51]:
xgboost_params

{'learning_rate': [0.1, 0.01],
 'max_depth': [5, 8, 12, 20, 30],
 'n_estimators': [100, 200, 300],
 'colsample_bytree': [0.5, 0.8, 1, 0.3, 0.4]}

In [52]:
## Models list for hyperparameter tuning
randomcv_models = [
            ("RF", RandomForestClassifier(), rf_params),
            ("XG", XGBClassifier(),xgboost_params)
    
]

In [53]:
randomcv_models

[('RF',
  RandomForestClassifier(),
  {'max_depth': [5, 8, 15, None, 10],
   'max_features': [5, 7, 'auto', 8],
   'min_samples_split': [2, 8, 15, 20],
   'n_estimators': [100, 200, 500, 1000]}),
 ('XG',
  XGBClassifier(base_score=None, booster=None, callbacks=None,
                colsample_bylevel=None, colsample_bynode=None,
                colsample_bytree=None, device=None, early_stopping_rounds=None,
                enable_categorical=False, eval_metric=None, feature_types=None,
                feature_weights=None, gamma=None, grow_policy=None,
                importance_type=None, interaction_constraints=None,
                learning_rate=None, max_bin=None, max_cat_threshold=None,
                max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
                max_leaves=None, min_child_weight=None, missing=nan,
                monotone_constraints=None, multi_strategy=None, n_estimators=None,
                n_jobs=None, num_parallel_tree=None, ...),
  {'learning_rate': [0.1, 0.01],
   'max_depth': [5, 8, 12, 20, 30],
   'n_estimators': [100, 200, 300],
   'colsample_bytree': [0.5, 0.8, 1, 0.3, 0.4]})]

In [54]:
from sklearn.model_selection import RandomizedSearchCV
model_param = {}
for name,model,params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,param_distributions=params,n_iter=100,cv=3,verbose=2,n_jobs=-1)
    random.fit(X_train,y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"----------------------Best params for {model_name}--------------------------------------")
    print(model_param[model_name])

Fitting 3 folds for each of 100 candidates, totalling 300 fits

C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
81 fits failed out of a total of 300.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
39 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
42 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [0.84117743 0.85933633        nan 0.88721246 0.85780121 0.88695664
 0.8406654         nan 0.87365753 0.87314629 0.90588398 0.83273694
 0.87186699 0.91202169 0.86751962 0.85626747 0.87161137        nan
        nan        nan        nan        nan 0.86572928 0.90818596
 0.87340171 0.8698218         nan 0.86010379 0.87391355 0.89028269
        nan 0.84399008 0.8601032  0.86777623        nan 0.8519199
 0.86624091        nan 0.84092181 0.88593434 0.8529426  0.86266002
 0.86598509 0.86393755        nan 0.86112569        nan 0.84347961
 0.91023272        nan        nan 0.91150927 0.84168907 0.867264
 0.8419443  0.84143305 0.83478291 0.83427147        nan        nan
 0.85575661 0.8672638         nan 0.83196948        nan 0.86061464
        nan        nan 0.86700837        nan 0.84194509 0.83350401
 0.91227712        nan 0.86291761 0.8913046  0.86905376 0.83324898
 0.85677813 0.87877334 0.84552539 0.84782737 0.8923267  0.86266002
 0.86317186        nan 0.85166369 0.88209743        nan 0.88414399
 0.9074187  0.84168887 0.845525   0.86419514        nan 0.8782621
        nan 0.87289086 0.88823534 0.87493683]
  warnings.warn(

Fitting 3 folds for each of 100 candidates, totalling 300 fits
----------------------Best params for RF--------------------------------------
{'n_estimators': 500, 'min_samples_split': 2, 'max_features': 8, 'max_depth': 15}
----------------------Best params for XG--------------------------------------
{'n_estimators': 200, 'max_depth': 20, 'learning_rate': 0.1, 'colsample_bytree': 0.8}

In [55]:
models = {
    
    "Random Forest" : RandomForestClassifier(n_estimators = 500, min_samples_split = 2, max_features = 8, max_depth = 15),
   
    "XGBoost Classifier": XGBClassifier(n_estimators = 200, max_depth = 20, learning_rate = 0.1, colsample_bytree = 0.8)

}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    ## Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    ## Training set performance
    model_train_accuracy = accuracy_score(y_train, y_train_pred)
    model_train_f1 =  f1_score(y_train,y_train_pred,average='weighted')
    model_train_precision = precision_score(y_train,y_train_pred)
    model_train_recall = recall_score(y_train,y_train_pred)
    model_train_roc_auc_score = roc_auc_score(y_train,y_train_pred)

    ## Test set performance

    model_test_accuracy = accuracy_score(y_test, y_test_pred)
    model_test_f1 = f1_score(y_test,y_test_pred,average='weighted')
    model_test_precision = precision_score(y_test,y_test_pred)
    model_test_recall = recall_score(y_test,y_test_pred)
    model_test_roc_auc_score = roc_auc_score(y_test,y_test_pred)

    print(list(models.keys())[i])
    
    print("Model performance for training set")
    print("Accuracy: {:.4f}".format(model_train_accuracy))
    print("f1 score: {:.4f}".format(model_train_f1))
    print("precision score: {:.4f}".format(model_train_precision))
    print("recall score: {:.4f}".format(model_train_recall))
    print("roc auc score: {:.4f}".format(model_train_roc_auc_score))
    
    print('-------------------------------------------------------')

    print("Model performance for test set")
    print("Accuracy : {:.4f}".format(model_test_accuracy))
    print("f1 score: {:.4f}".format(model_test_f1))
    print("precision score: {:.4f}".format(model_test_precision))
    print("recall score: {:.4f}".format(model_test_recall))
    print("roc auc score: {:.4f}".format(model_test_roc_auc_score))

    print('='*35)
    print('\n')

Random Forest
Model performance for training set
Accuracy: 0.9992
f1 score: 0.9992
precision score: 1.0000
recall score: 0.9959
roc auc score: 0.9980
-------------------------------------------------------
Model performance for test set
Accuracy : 0.9366
f1 score: 0.9327
precision score: 0.9470
recall score: 0.6944
roc auc score: 0.8428
===================================


XGBoost Classifier
Model performance for training set
Accuracy: 1.0000
f1 score: 1.0000
precision score: 1.0000
recall score: 1.0000
roc auc score: 1.0000
-------------------------------------------------------
Model performance for test set
Accuracy : 0.9550
f1 score: 0.9531
precision score: 0.9658
recall score: 0.7833
roc auc score: 0.8885
===================================

## XGBoost ML Regression

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import plotly.express as px

In [2]:
df = pd.read_csv("C:/Users/raviv/OneDrive/Desktop/cardekho_dataset.csv",index_col=[0])

In [3]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

## Data Cleaning

In [4]:
## Check null values
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [5]:
df.drop(['car_name','brand'],axis=1,inplace=True)

In [6]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [7]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [8]:
## Getting the different types of features
num_features = [feature for feature in df.columns if df[feature].dtype != 'object']
print("Number of numerical features: ", len(num_features))
cat_features = [feature for feature in df.columns if df[feature].dtype== 'object']
print("Number of Categorical features: ", len(cat_features))
discrete_features = [feature for feature in num_features if len(df[feature].unique()) <=25]
print("Number of Discrete features: ", len(discrete_features))
continuous_feature = [feature for feature in num_features if feature not in discrete_features]
print("Number of continuous features: ", len(continuous_feature))

Number of numerical features:  7
Number of Categorical features:  4
Number of Discrete features:  2
Number of continuous features:  5

In [9]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [10]:
## Split into Independent and Dependent features
from sklearn.model_selection import train_test_split
X = df.drop('selling_price',axis=1)
y = df['selling_price']

In [11]:
X

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5
...,...,...,...,...,...,...,...,...,...,...
19537,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5
19540,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7
19541,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5
19542,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7
19543,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5

In [12]:
y

0         120000
1         550000
2         215000
3         226000
4         570000
          ...
19537     250000
19540     925000
19541     425000
19542    1225000
19543    1200000
Name: selling_price, Length: 15411, dtype: int64

## Feature Encoding and Scaling

In [13]:
X['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [14]:
X['model'].value_counts()

model
i20             906
Swift Dzire     890
Swift           781
Alto            778
City            757
               ...
Altroz            1
C                 1
Ghost             1
Quattroporte      1
Gurkha            1
Name: count, Length: 120, dtype: int64

In [15]:
## We will use label encoder for the 'model' as we want to capture the relatioship between model and selling price
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['model'] = le.fit_transform(X['model'])

In [16]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [17]:
X['seller_type'].value_counts(), X['fuel_type'].value_counts(),X['transmission_type'].value_counts()

(seller_type
 Dealer              9539
 Individual          5699
 Trustmark Dealer     173
 Name: count, dtype: int64,
 fuel_type
 Petrol      7643
 Diesel      7419
 CNG          301
 LPG           44
 Electric       4
 Name: count, dtype: int64,
 transmission_type
 Manual       12225
 Automatic     3186
 Name: count, dtype: int64)

In [18]:
len(X['seller_type'].value_counts()), len(X['fuel_type'].value_counts()),len(X['transmission_type'].value_counts())

(3, 5, 2)

In [19]:
## Create Column transformer with 3 types of transformers
num_features = X.select_dtypes(exclude='object').columns
onehot_columns = ['seller_type','fuel_type','transmission_type']

from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer
numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')


preprocessor = ColumnTransformer([
("OneHotEncoder",oh_transformer,onehot_columns),
("StandardScaler",numeric_transformer,num_features)
],remainder='passthrough'
)

In [20]:
X = preprocessor.fit_transform(X)

In [21]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

In [22]:
## Seperate dataframe into train and test
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)
X_train.shape,X_test.shape

((12328, 14), (3083, 14))

## Model Training and Model Selection

In [23]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [24]:
## Create a function to evaluate the model
def evaluate_model(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse = np.sqrt(mean_squared_error(true,predicted))
    R_square = r2_score(true,predicted)
    return mae,rmse,R_square

In [25]:
## beginning model training
models = {
    "Linear Regression" : LinearRegression(),
    "Ridge": Ridge(),
    "Lasso" : Lasso(),
    "K Nearest Neighbors":KNeighborsRegressor(),
    "Decision Tree Reg" : DecisionTreeRegressor(),
    "Random Forest Reg": RandomForestRegressor(),
    "AdaBoost Regressor": AdaBoostRegressor(),
    "Gradient Boost Regressor":GradientBoostingRegressor(),
    "XGBoost Regression" : XGBRegressor()
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)
    ## Make predictions

    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    ## Evaluate the model
    model_train_mae,model_train_rmse,model_train_r2score = evaluate_model(y_train,y_train_pred)
    model_test_mae,model_test_rmse,model_test_r2score = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    print('Model Performance for training set')
    print("- Root mean square error: {:.4f}".format(model_train_rmse))
    print("-Mean absolute error: {:.4f}".format(model_train_mae))
    print("-R Squared: {:.4f}".format(model_train_r2score))

    print('---------------------------------------------------------------------')

    print('Model Performance for test set')
    print("- Root mean square error: {:.4f}".format(model_test_rmse))
    print("-Mean absolute error: {:.4f}".format(model_test_mae))
    print("-R Squared: {:.4f}".format(model_test_r2score))

    print('='*35)
    print('\n')

Linear Regression
Model Performance for training set
- Root mean square error: 563804.0193
-Mean absolute error: 273361.6008
-R Squared: 0.6186
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 454687.3589
-Mean absolute error: 267899.7341
-R Squared: 0.6882
===================================


Ridge
Model Performance for training set
- Root mean square error: 563804.4395
-Mean absolute error: 273324.3635
-R Squared: 0.6186
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 454675.2035
-Mean absolute error: 267876.2133
-R Squared: 0.6883
===================================


Lasso
Model Performance for training set
- Root mean square error: 563804.0236
-Mean absolute error: 273359.8997
-R Squared: 0.6186
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 454687.6125
-Mean absolute error: 267899.9586
-R Squared: 0.6882
===================================


K Nearest Neighbors
Model Performance for training set
- Root mean square error: 319850.7508
-Mean absolute error: 91115.5459
-R Squared: 0.8773
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 277532.2176
-Mean absolute error: 109840.6017
-R Squared: 0.8838
===================================


Decision Tree Reg
Model Performance for training set
- Root mean square error: 19575.8940
-Mean absolute error: 4935.0287
-R Squared: 0.9995
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 467136.8747
-Mean absolute error: 131328.8977
-R Squared: 0.6709
===================================


Random Forest Reg
Model Performance for training set
- Root mean square error: 117397.1592
-Mean absolute error: 39464.3125
-R Squared: 0.9835
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 421494.4767
-Mean absolute error: 105695.5355
-R Squared: 0.7321
===================================


AdaBoost Regressor
Model Performance for training set
- Root mean square error: 448438.5418
-Mean absolute error: 335993.2809
-R Squared: 0.7587
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 583036.2964
-Mean absolute error: 345151.4693
-R Squared: 0.4874
===================================


Gradient Boost Regressor
Model Performance for training set
- Root mean square error: 212405.9970
-Mean absolute error: 114002.5747
-R Squared: 0.9459
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 392812.5845
-Mean absolute error: 125553.9766
-R Squared: 0.7673
===================================


XGBoost Regression
Model Performance for training set
- Root mean square error: 91723.5331
-Mean absolute error: 64195.6406
-R Squared: 0.9899
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 342593.4885
-Mean absolute error: 98787.7656
-R Squared: 0.8230
===================================

In [26]:
## Hyperparameter training
rf_params = {"max_depth":[5,8,15,None,10],
             "max_features":[5,7,"auto",8],
             "min_samples_split":[2,8,15,20],
             "n_estimators":[100,200,500,1000]
            }
xgboost_params = {
            "learning_rate":[0.1,0.01],
            "max_depth":[5,8,12,20,30],
            "n_estimators":[100,200,300],
            "colsample_bytree":[0.5,0.8,1,0.3,0.4]
    
}

In [27]:
## Models list for hyperparameter tuning
randomcv_models = [
                   ('RF',RandomForestRegressor(),rf_params),
                  ('XG', XGBRegressor(), xgboost_params )]

In [28]:
## Hyperparameter tuning
model_param = {}
from sklearn.model_selection import RandomizedSearchCV
for name,model,params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,param_distributions=params,
                               n_iter=20,cv=3,verbose=2,n_jobs= -1)
    random.fit(X_train,y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"----------------------Best Params for {model_name}---------------------------")
    print(model_param[model_name])

Fitting 3 folds for each of 20 candidates, totalling 60 fits

C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
9 fits failed out of a total of 60.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
9 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\raviv\anaconda3\envs\anaconda-2025.06-py3.11\Lib\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [0.85461273 0.85553079 0.87671671 0.87283286 0.87265444        nan
 0.85727           nan 0.8146159  0.86629598 0.87932233 0.84071487
 0.88103612 0.86190822 0.85588949 0.85586355 0.85378531 0.81918048
 0.86097172        nan]
  warnings.warn(

Fitting 3 folds for each of 20 candidates, totalling 60 fits
----------------------Best Params for RF---------------------------
{'n_estimators': 200, 'min_samples_split': 2, 'max_features': 8, 'max_depth': None}
----------------------Best Params for XG---------------------------
{'n_estimators': 300, 'max_depth': 20, 'learning_rate': 0.1, 'colsample_bytree': 0.5}

In [29]:
## beginning model training
models = {
    
    "Random Forest Reg": RandomForestRegressor(n_estimators = 200, min_samples_split = 2, max_features = 8, max_depth = None),
    
    "XGBoost Regression" : XGBRegressor(n_estimators=300,max_depth=20,learning_rate=0.1,colsample_bytree= 0.5)
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)
    ## Make predictions

    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    ## Evaluate the model
    model_train_mae,model_train_rmse,model_train_r2score = evaluate_model(y_train,y_train_pred)
    model_test_mae,model_test_rmse,model_test_r2score = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    print('Model Performance for training set')
    print("- Root mean square error: {:.4f}".format(model_train_rmse))
    print("-Mean absolute error: {:.4f}".format(model_train_mae))
    print("-R Squared: {:.4f}".format(model_train_r2score))

    print('---------------------------------------------------------------------')

    print('Model Performance for test set')
    print("- Root mean square error: {:.4f}".format(model_test_rmse))
    print("-Mean absolute error: {:.4f}".format(model_test_mae))
    print("-R Squared: {:.4f}".format(model_test_r2score))

    print('='*35)
    print('\n')

Random Forest Reg
Model Performance for training set
- Root mean square error: 123125.8950
-Mean absolute error: 39031.5123
-R Squared: 0.9818
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 281359.6357
-Mean absolute error: 99459.1721
-R Squared: 0.8806
===================================


XGBoost Regression
Model Performance for training set
- Root mean square error: 24482.6678
-Mean absolute error: 8145.5781
-R Squared: 0.9993
---------------------------------------------------------------------
Model Performance for test set
- Root mean square error: 281352.9826
-Mean absolute error: 102346.5391
-R Squared: 0.8806
===================================